## Description
 - 환자(person)가 방문(visit_occurrence)을 하고, 해당 방문에서 어떤 진단(condition_occurrence)과 처방(drug_exposure)을 받았는지, 그리고 사망을 했다면 언제 사망(death)했는지에 대한 정보
 - 각 테이블간을 연결하기 위해 중요하게 사용되어야할 공통 Key는 person_id(환자 id)와 visit_occurrence_id(방문 id)입니다.
 - CDM은 concept라는 개념을 사용하고 있습니다. 대부분의 카테고리(범주)형 자료들은 concept_id로 표현이 되어있습니다. 이에 대한 정보(이름 등)를 concept 테이블이나 그와 매칭되는 source_value 컬럼을 확인해야합니다.

![image-20210731143321799](https://raw.githubusercontent.com/is3js/screenshots/main/image-20210731143321799.png)

## Load_Local_DataFrame
 - pickle 파일명대로 DataFrame 변수를 만들어 할당합니다.

In [14]:
import numpy as np
import pandas as pd
import os, pickle

In [2]:
def search_path_walk(path):
    return [ os.path.join(dirs, file) for dirs, _,files in os.walk(path) for file in files]

In [3]:
data_path_list = search_path_walk('./data/')
data_path_list

['./data/clinical_note.p',
 './data/concept.p',
 './data/condition_occurrence.p',
 './data/death.p',
 './data/drug_exposure.p',
 './data/drug_pair.p',
 './data/person.p',
 './data/visit_occurrence.p']

In [4]:
filename_list = [data_path.split('/')[-1].split('.')[0] for data_path in data_path_list]
print(f"* pickle filename list : \n{filename_list}")

* pickle filename list :
['clinical_note', 'concept', 'condition_occurrence', 'death', 'drug_exposure', 'drug_pair', 'person', 'visit_occurrence']

In [15]:
clinical_note = pickle.load(open(data_path_list[0], 'rb'))
concept = pickle.load(open(data_path_list[1], 'rb'))
condition_occurrence = pickle.load(open(data_path_list[2], 'rb'))
death = pickle.load(open(data_path_list[3], 'rb'))
drug_exposure = pickle.load(open(data_path_list[4], 'rb'))
drug_pair = pickle.load(open(data_path_list[5], 'rb'))
person = pickle.load(open(data_path_list[6], 'rb'))
visit_occurrence = pickle.load(open(data_path_list[7], 'rb'))

## View Each Tables
 - for문 내부에서 등 DataFrame을 예쁘게 출력하기 위해 `show(df)`라는 함수를 정의해서 사용합니다.
     - print(df), 셀 마지막에 df.head() 작성하는 것 등을 대신합니다.

In [5]:
from IPython.core.display import HTML

def show(df):
    display(HTML(df.to_html()))

### person

In [16]:
print(person.shape)
person.head()

(1000, 18)

,person_id,gender_concept_id,year_of_birth,month_of_birth,day_of_birth,birth_datetime,race_concept_id,ethnicity_concept_id,location_id,provider_id,care_site_id,person_source_value,gender_source_value,gender_source_concept_id,race_source_value,race_source_concept_id,ethnicity_source_value,ethnicity_source_concept_id
0,402435,8532,1997,4,18,1997-04-18,8527,0,None,None,None,a434e3bf-7720-4612-8d18-e274e199f4fd,F,0,white,0,hispanic,0
1,1022983,8507,1950,2,26,1950-02-26,8527,0,None,None,None,e0b46681-1ccf-488e-9766-bbdb1fe53af2,M,0,white,0,hispanic,0
2,1657794,8532,1937,12,10,1937-12-10,8527,0,None,None,None,f6d7bf9f-0881-4142-9dfa-67fa213dd322,F,0,white,0,hispanic,0
3,2845932,8507,1987,5,26,1987-05-26,8515,0,None,None,None,1387a5c0-159c-4dd2-9ef8-4e7f47a6d288,M,0,asian,0,hispanic,0
4,2693038,8532,1959,2,7,1959-02-07,8527,0,None,None,None,8dea9575-d5cc-4a50-ab5e-a8c0de735fcf,F,0,white,0,nonhispanic,0

In [19]:
person.columns

Index(['person_id', 'gender_concept_id', 'year_of_birth', 'month_of_birth',
       'day_of_birth', 'birth_datetime', 'race_concept_id',
       'ethnicity_concept_id', 'location_id', 'provider_id', 'care_site_id',
       'person_source_value', 'gender_source_value',
       'gender_source_concept_id', 'race_source_value',
       'race_source_concept_id', 'ethnicity_source_value',
       'ethnicity_source_concept_id'],
      dtype='object')

In [32]:
person['person_id'].nunique()

1000

### concept

In [22]:
print(concept.shape)
concept.head()

(7403692, 10)

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,37068761,Gamma glutamyl transferase/Aspartate aminotran...,Observation,LOINC,LOINC Component,None,LP307433-5,1970-01-01,2099-12-31,None
1,37068762,Satratoxin IgM | Serum | Microbiology,Measurement,LOINC,LOINC Hierarchy,C,LP379709-1,1970-01-01,2099-12-31,None
2,37068763,Signet ring cells,Observation,LOINC,LOINC Component,None,LP247841-2,1970-01-01,2099-12-31,None
3,37068764,Tryptase.mature | Serum or Plasma | Chemistry ...,Measurement,LOINC,LOINC Hierarchy,C,LP383273-2,1970-01-01,2099-12-31,None
4,37068765,Pathology biopsy report | Pancreas | Pathology,Observation,LOINC,LOINC Hierarchy,C,LP401954-5,1970-01-01,2099-12-31,None

In [23]:
concept.columns

Index(['concept_id', 'concept_name', 'domain_id', 'vocabulary_id',
       'concept_class_id', 'standard_concept', 'concept_code',
       'valid_start_date', 'valid_end_date', 'invalid_reason'],
      dtype='object')

### others

In [28]:
for df in [condition_occurrence, death, drug_exposure, drug_pair, visit_occurrence]:
    print(df.shape)
    print(df.columns)
    show(df.head())

condition_occurrence
(12167, 16)
Index(['condition_occurrence_id', 'person_id', 'condition_concept_id',
       'condition_start_date', 'condition_start_datetime',
       'condition_end_date', 'condition_end_datetime',
       'condition_type_concept_id', 'condition_status_concept_id',
       'stop_reason', 'provider_id', 'visit_occurrence_id', 'visit_detail_id',
       'condition_source_value', 'condition_source_concept_id',
       'condition_status_source_value'],
      dtype='object')

death
(152, 7)
Index(['person_id', 'death_date', 'death_datetime', 'death_type_concept_id',
       'cause_concept_id', 'cause_source_value', 'cause_source_concept_id'],
      dtype='object')

drug_exposure
(46579, 23)
Index(['drug_exposure_id', 'person_id', 'drug_concept_id',
       'drug_exposure_start_date', 'drug_exposure_start_datetime',
       'drug_exposure_end_date', 'drug_exposure_end_datetime',
       'verbatim_end_date', 'drug_type_concept_id', 'stop_reason', 'refills',
       'quantity', 'days_supply', 'sig', 'route_concept_id', 'lot_number',
       'provider_id', 'visit_occurrence_id', 'visit_detail_id',
       'drug_source_value', 'drug_source_concept_id', 'route_source_value',
       'dose_unit_source_value'],
      dtype='object')

drug_pair
(15, 2)
Index(['drug_concept_id1', 'drug_concept_id2'], dtype='object')

visit_occurrence
(41810, 17)
Index(['visit_occurrence_id', 'person_id', 'visit_concept_id',
       'visit_start_date', 'visit_start_datetime', 'visit_end_date',
       'visit_end_datetime', 'visit_type_concept_id', 'provider_id',
       'care_site_id', 'visit_source_value', 'visit_source_concept_id',
       'admitted_from_concept_id', 'admitted_from_source_value',
       'discharge_to_source_value', 'discharge_to_concept_id',
       'preceding_visit_occurrence_id'],
      dtype='object')

## Question

### visit_occurrence
 - visit_occurrence 테이블은 병원에 방문한 환자들의 방문식별번호(id), 병원 방문 시작일자, 종료일자, 방문 타입(내원, 외래 등) 등 병원 방문과 관련된 정보를 포함하고 있습니다. 
 - 내원일수는 환자가 요양기관을 방문하여 진료를 받은 일수이며, `내원일수 = 방문종료일자 - 방문시작일자 + 1` 으로 계산합니다. 
 - **모든 환자에 대해 총 내원일수**를 구하고 총 내원일수의 최대값과 총 내원일수 최대값을 가지는 환자수를 찾는 쿼리를 작성합니다.
     - 방문시작일자는 visit_start_date, 방문종료일자는 visit_end_date 를 사용합니다.

In [40]:
visit_occurrence.head()

,visit_occurrence_id,person_id,visit_concept_id,visit_start_date,visit_start_datetime,visit_end_date,visit_end_datetime,visit_type_concept_id,provider_id,care_site_id,visit_source_value,visit_source_concept_id,admitted_from_concept_id,admitted_from_source_value,discharge_to_source_value,discharge_to_concept_id,preceding_visit_occurrence_id
0,36112943,116496,9202,1962-04-13,1962-04-13 01:53:01,1962-04-13,1962-04-13 02:08:01,44818517,None,None,ac25f574-971c-4685-8034-359a00b09857,0,0,None,0,None,nan
1,36112944,116496,9202,1962-04-24,1962-04-24 01:53:01,1962-04-24,1962-04-24 02:08:01,44818517,None,None,e7e02d9d-d16a-44cc-b3ce-42a5adb60095,0,0,None,0,None,"36,112,943.00"
2,36112954,116496,9202,2002-11-29,2002-11-29 01:53:01,2002-11-29,2002-11-29 02:23:01,44818517,None,None,2e49b738-ed61-4b93-bc31-4b305985709e,0,0,None,0,None,"36,112,944.00"
3,36112945,116496,9202,2008-11-06,2008-11-06 01:53:01,2008-11-06,2008-11-06 02:08:01,44818517,None,None,2eccfac7-4443-4daa-901a-b4be10692426,0,0,None,0,None,"36,112,954.00"
4,36112946,116496,9202,2010-11-19,2010-11-19 01:53:01,2010-11-19,2010-11-19 02:43:01,44818517,None,None,71a06bd9-3d06-4635-88f4-4fe29305c83f,0,0,None,0,None,"36,112,945.00"

In [31]:
# 내원 정보가 있는 환자 수를 확인. person 테이블과 마찬가지의 1000명
visit_occurrence['person_id'].nunique()

1000

In [38]:
# date칼럼이 datetime형식이 datetime타입이 아니므로 날짜 계산을 위해 변환 필요
visit_occurrence['visit_start_date'].dtypes

dtype('O')

In [55]:
# 내원시작/종료일자의 dtypes변환
visit_occurrence[['visit_start_date', 'visit_end_date']] = visit_occurrence[['visit_start_date', 'visit_end_date']].apply( pd.to_datetime )

In [62]:
# 데이터마다 내원종료일 - 내원시작일 + 1을 계산하여
# 총 내원일수를 계산해놓는다.
visit_occurrence['visit_total_days'] = \
visit_occurrence['visit_end_date'] - visit_occurrence['visit_start_date'] \
+ pd.to_timedelta(1, unit='d')

In [63]:
visit_occurrence[['visit_start_date', 'visit_end_date', 'visit_total_days']].head()

  visit_start_date visit_end_date visit_total_days
0       1962-04-13     1962-04-13           1 days
1       1962-04-24     1962-04-24           1 days
2       2002-11-29     2002-11-29           1 days
3       2008-11-06     2008-11-06           1 days
4       2010-11-19     2010-11-19           1 days

In [65]:
# 총 내원일수는 1일부터 몇백일까지 다양하다.
visit_occurrence['visit_total_days'].value_counts()

1 days      39715
2 days       1765
3 days         42
11 days        31
10 days        23
            ...
26 days         1
303 days        1
661 days        1
674 days        1
85 days         1
Name: visit_total_days, Length: 89, dtype: int64

#### 환자별 총 내원일자

In [67]:
# 환자별 총 내원일수 합을 구하기 위해
# 환자별로 groupby한 데이터의 샘플을 뽑아서 확인한다.
grouped = dict(list(visit_occurrence.groupby(['person_id'])))
grouped.keys()

dict_keys([2955, 4915, 11992, 12111, 13328, 13576, 13605, 26922, 31196, 32767, 38036, 39500, 40315, 42695, 44802, 50663, 52609, 52732, 57600, 58425, 58917, 63546, 65371, 67212, 75796, 79856, 81025, 84436, 95361, 96865, 99181, 107273, 111208, 112670, 116496, 122257, 123409, 123550, 125693, 131925, 131926, 133626, 140177, 146861, 147111, 153121, 155479, 159325, 162530, 163460, 167008, 170280, 174786, 176640, 179582, 180634, 183056, 186677, 191395, 201372, 206303, 207445, 209833, 215966, 218306, 218372, 223862, 225206, 225562, 226828, 226994, 227962, 228980, 231149, 233908, 240042, 242433, 244631, 246311, 247610, 250831, 253726, 260741, 261707, 262282, 264680, 269493, 270028, 270556, 275512, 277792, 279936, 285423, 286875, 295734, 299054, 301668, 301925, 306037, 307874, 309982, 311500, 312011, 312934, 313267, 328086, 336498, 339523, 341440, 347511, 347825, 350147, 353893, 355272, 356185, 359466, 364737, 367136, 374300, 374448, 380033, 380796, 384835, 385842, 386051, 393110, 393467, 397137, 397813, 399006, 401941, 402435, 404585, 407096, 411217, 417131, 420731, 421133, 426322, 430733, 431793, 432867, 433780, 435960, 442078, 444747, 447852, 448288, 450014, 467529, 468373, 470569, 470594, 472725, 476726, 478532, 479023, 479151, 481483, 484462, 487607, 490147, 494048, 495905, 495973, 498432, 506386, 506607, 508550, 508771, 510173, 516820, 518622, 518868, 523361, 524744, 525417, 527633, 527734, 531690, 533445, 536388, 537096, 537462, 539384, 543413, 544521, 551380, 556829, 557457, 558010, 567061, 567229, 567791, 570874, 575032, 578915, 579273, 581424, 585324, 585872, 586073, 586627, 590434, 594466, 595020, 595435, 599796, 609120, 609664, 611831, 612531, 613924, 616636, 622690, 623191, 624763, 627575, 631027, 631283, 638444, 646439, 656683, 659985, 661128, 669863, 672383, 672546, 672701, 674150, 674168, 674334, 680159, 680801, 681157, 692107, 692648, 694002, 694380, 699537, 704164, 704959, 709963, 712029, 712874, 713003, 714634, 714652, 715658, 723619, 737925, 739621, 739989, 747226, 749873, 750603, 750824, 752695, 759296, 771901, 774147, 776136, 783082, 787382, 788372, 788525, 794776, 795565, 808318, 816126, 817153, 817946, 819464, 820776, 821323, 821856, 825964, 828259, 828520, 829100, 832694, 834192, 843873, 863142, 863818, 864239, 865524, 866703, 867751, 872090, 872992, 881213, 884391, 885199, 886110, 892185, 895512, 897820, 898302, 909084, 916629, 918962, 920965, 922624, 930542, 932398, 932613, 939449, 942192, 942847, 946134, 950960, 951150, 957497, 959383, 964384, 964979, 965178, 966103, 966180, 969785, 972662, 975217, 978095, 978927, 983821, 987583, 987628, 988504, 989708, 990797, 994339, 999971, 1000910, 1000971, 1002038, 1006565, 1014173, 1015324, 1022320, 1022983, 1024181, 1025907, 1027901, 1032908, 1035943, 1042396, 1046053, 1050828, 1059070, 1059760, 1063380, 1067535, 1069960, 1072464, 1075182, 1075530, 1080106, 1080540, 1083539, 1086999, 1089482, 1093508, 1094646, 1101709, 1101775, 1102377, 1102735, 1103727, 1104969, 1113921, 1116293, 1116539, 1117107, 1122843, 1125305, 1128551, 1129395, 1130552, 1131744, 1133355, 1134605, 1138308, 1139694, 1142083, 1142316, 1150041, 1151093, 1151298, 1154192, 1156896, 1158005, 1161988, 1162514, 1169067, 1174038, 1175165, 1178148, 1178637, 1180314, 1182680, 1182735, 1185994, 1192810, 1207359, 1209983, 1210830, 1221883, 1223196, 1224077, 1230790, 1237362, 1242478, 1243216, 1243453, 1244279, 1247271, 1248098, 1248239, 1255275, 1258670, 1259556, 1263488, 1265763, 1268989, 1273288, 1279003, 1282019, 1283084, 1284424, 1289990, 1290333, 1290940, 1292417, 1292562, 1296037, 1304680, 1309357, 1312593, 1316674, 1317600, 1318104, 1321626, 1322459, 1322473, 1322658, 1324897, 1330249, 1333931, 1334190, 1334573, 1344652, 1345611, 1347827, 1347938, 1348133, 1354811, 1358074, 1359167, 1361097, 1370797, 1372735, 1375853, 1379161, 1383990, 1385873, 1395577, 1396956, 1398436, 1399343, 1400567, 1403320, 1405751, 1407358, 1408204, 1408868, 1411911, 1415009, 1415093, 1416865, 1417996, 1418681, 1419131, 1419600, 1420283, 1423307, 1424288, 1424691, 1426612, 1427632, 1430422, 1433782, 1437196, 1438269, 1439728, 1442949, 1444791, 1446601, 1446772, 1453334, 1457661, 1459846, 1462853, 1467140, 1471705, 1475616, 1476603, 1478368, 1480345, 1483858, 1486429, 1487097, 1493546, 1493834, 1495568, 1496597, 1497156, 1498532, 1499985, 1506128, 1510796, 1520327, 1521765, 1524957, 1527114, 1529132, 1529204, 1535630, 1537987, 1539289, 1539770, 1539830, 1544424, 1547708, 1552218, 1553757, 1557180, 1562015, 1565304, 1570653, 1571295, 1572460, 1572626, 1575484, 1575784, 1576815, 1578321, 1578772, 1580573, 1580662, 1583288, 1584617, 1592282, 1592599, 1593073, 1594507, 1595228, 1599990, 1601039, 1602455, 1602963, 1603013, 1605851, 1610203, 1611437, 1612460, 1616675, 1617919, 1620867, 1622079, 1632592, 1635233, 1637368, 1638422, 1641722, 1646078, 1653012, 1653373, 1653822, 1654249, 1655764, 1657794, 1658282, 1661752, 1662200, 1669371, 1671060, 1676881, 1682647, 1683581, 1691806, 1692065, 1698742, 1708043, 1708331, 1708580, 1711414, 1715569, 1720999, 1723359, 1727253, 1728193, 1730045, 1731475, 1733816, 1736084, 1737916, 1737987, 1741528, 1742971, 1743075, 1744711, 1749273, 1754703, 1759028, 1760839, 1760920, 1764354, 1768802, 1769280, 1769327, 1769612, 1771720, 1777462, 1778764, 1783477, 1785203, 1786083, 1786297, 1792313, 1795299, 1796663, 1804052, 1811239, 1811799, 1813398, 1813442, 1819367, 1821726, 1822249, 1823121, 1825106, 1826955, 1830742, 1833136, 1835852, 1845770, 1852820, 1854209, 1855124, 1862910, 1863019, 1863440, 1863867, 1871086, 1875392, 1879625, 1885105, 1886046, 1889991, 1891866, 1893054, 1896168, 1897228, 1905414, 1908404, 1915468, 1917180, 1921945, 1923526, 1924520, 1929650, 1942103, 1944908, 1945754, 1954882, 1956570, 1958114, 1958174, 1959516, 1961802, 1962892, 1973279, 1979909, 1981879, 1982316, 1985403, 1989832, 1992841, 1993263, 1994613, 2005248, 2007016, 2011352, 2011579, 2013573, 2018231, 2018537, 2019143, 2020649, 2021289, 2027203, 2029405, 2029854, 2039830, 2040540, 2041008, 2058906, 2064705, 2070043, 2074366, 2075898, 2076571, 2076773, 2078953, 2086266, 2086504, 2091080, 2093430, 2094832, 2095833, 2101769, 2103544, 2106053, 2111169, 2113954, 2115141, 2119555, 2129397, 2131125, 2136139, 2136398, 2139927, 2140153, 2143829, 2144350, 2145059, 2145535, 2149467, 2150302, 2152990, 2153104, 2159889, 2161619, 2162311, 2165610, 2167420, 2169572, 2170146, 2178669, 2181415, 2185217, 2188657, 2192135, 2198979, 2199432, 2211264, 2216286, 2216402, 2218984, 2227189, 2227772, 2228649, 2229411, 2231451, 2232205, 2238484, 2244811, 2248437, 2248508, 2248703, 2250204, 2250367, 2253842, 2258808, 2262829, 2265905, 2266479, 2270241, 2283474, 2286135, 2293584, 2294787, 2296477, 2297327, 2306163, 2310905, 2312280, 2319569, 2320056, 2320503, 2320686, 2321057, 2321399, 2321793, 2323675, 2324970, 2329364, 2329666, 2332245, 2333374, 2334118, 2336198, 2341089, 2341131, 2347398, 2348101, 2349397, 2349533, 2350015, 2351697, 2354526, 2354676, 2356402, 2362275, 2366932, 2369278, 2371500, 2379779, 2381960, 2383278, 2385840, 2399178, 2399224, 2399535, 2400845, 2402786, 2404142, 2404271, 2419157, 2419346, 2420009, 2424618, 2424624, 2427776, 2433187, 2435436, 2437733, 2439986, 2440799, 2442134, 2442198, 2443077, 2443362, 2444336, 2444447, 2447465, 2448010, 2450048, 2452672, 2453550, 2457542, 2460892, 2461530, 2465476, 2467022, 2469028, 2469548, 2471643, 2471709, 2473332, 2475057, 2477683, 2479610, 2481073, 2481746, 2482499, 2485491, 2485956, 2486053, 2489153, 2496727, 2498836, 2501249, 2502613, 2508104, 2508254, 2511470, 2515850, 2522118, 2526926, 2537704, 2542940, 2552316, 2556247, 2558823, 2559554, 2562581, 2564849, 2565023, 2565313, 2567182, 2570895, 2571027, 2572007, 2574496, 2575346, 2577809, 2581778, 2581890, 2583093, 2583742, 2590498, 2592340, 2593202, 2597583, 2602458, 2607241, 2611396, 2615883, 2616708, 2617153, 2619093, 2620566, 2620808, 2620964, 2621855, 2622992, 2623847, 2626759, 2634581, 2637016, 2640455, 2642579, 2642630, 2651131, 2652730, 2654676, 2655719, 2657994, 2658112, 2659524, 2660290, 2664218, 2669516, 2671718, 2672557, 2678045, 2680767, 2683867, 2685891, 2690407, 2693038, 2693320, 2694671, 2695533, 2701791, 2707833, 2717608, 2721666, 2737782, 2738610, 2742641, 2746736, 2748308, 2751584, 2751691, 2754980, 2757037, 2758064, 2758906, 2761400, 2770300, 2772037, 2779041, 2779375, 2781732, 2781995, 2782507, 2784615, 2789551, 2789632, 2790073, 2791638, 2793957, 2797966, 2798682, 2800303, 2802777, 2804531, 2805301, 2808950, 2811436, 2813223, 2813715, 2814076, 2816064, 2818026, 2819890, 2821459, 2824392, 2825769, 2826204, 2832949, 2833968, 2837387, 2840192, 2840336, 2843890, 2845932])

In [69]:
# 환자 1명에 대해 내원시작일순으로 정렬한다.
one_person = grouped[2955].sort_values(by=['visit_start_date'])
one_person.head()

,visit_occurrence_id,person_id,visit_concept_id,visit_start_date,visit_start_datetime,visit_end_date,visit_end_datetime,visit_type_concept_id,provider_id,care_site_id,visit_source_value,visit_source_concept_id,admitted_from_concept_id,admitted_from_source_value,discharge_to_source_value,discharge_to_concept_id,preceding_visit_occurrence_id,visit_total_days
28960,57618647,2955,9202,1987-05-11,1987-05-11 13:28:53,1987-05-11,1987-05-11 14:13:53,44818517,None,None,07a8d7db-a238-4c59-a796-9c2ffe7f03fb,0,0,None,0,None,nan,1 days
28961,57618653,2955,9202,2009-03-30,2009-03-30 13:28:53,2009-03-30,2009-03-30 13:43:53,44818517,None,None,d7ab15bf-8495-4be7-9e85-c1d8a46536f2,0,0,None,0,None,"57,618,647.00",1 days
28962,57618648,2955,9202,2011-03-05,2011-03-05 13:28:53,2011-03-05,2011-03-05 13:43:53,44818517,None,None,bc856ca3-8b61-4893-bb3b-bdff4696acbe,0,0,None,0,None,"57,618,653.00",1 days
28963,57618654,2955,9202,2011-04-04,2011-04-04 13:28:53,2011-04-04,2011-04-04 13:58:53,44818517,None,None,763b4e52-9293-49ac-908d-5c9d0bfb79e5,0,0,None,0,None,"57,618,648.00",1 days
28964,57618655,2955,9202,2013-04-08,2013-04-08 13:28:53,2013-04-08,2013-04-08 13:43:53,44818517,None,None,98eb96aa-1bf5-44d0-9d7e-32e2b42d7781,0,0,None,0,None,"57,618,654.00",1 days

In [70]:
# 한명의 총 내원일자를 확인해본다. 
one_person['visit_total_days'].sum()

Timedelta('14 days 00:00:00')

In [79]:
# 이제 그룹별로 환자의 총 내원일수를 계산하고,
person_to_visit_total_count = \
visit_occurrence.groupby(['person_id']).apply(lambda agg_df:agg_df['visit_total_days'].sum())

In [78]:
# 총 내원일수 최대인, 최소인 환자의 index(person_id)를 확인한다.
max_visit_ids = person_to_visit_total_count[person_to_visit_total_count == person_to_visit_total_count.max()].index.values
min_visit_ids = person_to_visit_total_count[person_to_visit_total_count == person_to_visit_total_count.min()].index.values
max_visit_ids, min_visit_ids

(array([1059760], dtype=int64),
 array([ 215966,  709963, 1638422, 1737987], dtype=int64))

In [80]:
# 환자별로 총 내원일자 표를 확인한다.
print("환자별 총 내원일자")
show(person_to_visit_total_count.to_frame('총 내원일자'))

환자별 총 내원일자

In [86]:
str(person_to_visit_total_count.max())

'18873 days 00:00:00'

In [88]:
# 최대값 최소값을 가지는 환자의 person_id와 그 값을 출력한다.
print("총 내원일수 최대값과 최소값을 가지는 환자 수")
print(f"""
최대값 : {person_to_visit_total_count.max()}, 환자 id:{max_visit_ids}, 환자 수:{len(max_visit_ids)}
최소값 : {person_to_visit_total_count.min()}, 환자 id:{min_visit_ids}, 환자 수:{len(min_visit_ids)}
""")

총 내원일수의 최대값과 최소값을 가지는 환자 수

최대값 : 18873 days 00:00:00, 환자 id:[1059760], 환자 수:1
최소값 : 2 days 00:00:00, 환자 id:[ 215966  709963 1638422 1737987], 환자 수:4

### condition_occurrence

 - 환자들이 진단 받은 상병 내역 중 첫글자는 (a,b,c,d,e) 문자로 시작하고 “heart” 단어가 포함된 상병 이름을 찾으려고 합니다. 
 - condition_occurrence 테이블은 환자가 병원 방문시 진단 받은 질환이 담겨있습니다. 상병코드는 condition_concept_id이고, concept 테이블의 concept_id와 조인하여 상병 이름을 찾을 수 있습니다. (concept_name 컬럼 사용)
    - 문자 검색시 대소문자를 구분하지 않습니다.
    - 상병 이름을 중복없이 나열합니다.

In [16]:
condition_occurrence.head()

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,condition_status_concept_id,stop_reason,provider_id,visit_occurrence_id,visit_detail_id,condition_source_value,condition_source_concept_id,condition_status_source_value
0,1466183,116496,0,2002-11-29,2002-11-29,None,NaT,32020,0,None,None,36112954,0,162864005,4060985,None
1,1466184,116496,0,2020-03-04,2020-03-04,2020-03-04,2020-03-04,32020,0,None,None,36112952,0,840544004,37311060,None
2,1466185,116496,81151,2015-03-24,2015-03-24,2015-04-14,2015-04-14,32020,0,None,None,7021052,0,44465007,81151,None
3,1466186,116496,260139,2012-10-23,2012-10-23,2012-10-30,2012-10-30,32020,0,None,None,36112948,0,10509002,260139,None
4,1466187,116496,312437,2020-03-04,2020-03-04,2020-04-04,2020-04-04,32020,0,None,None,36112952,0,267036007,312437,None

In [17]:
concept.head()

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,37068761,Gamma glutamyl transferase/Aspartate aminotran...,Observation,LOINC,LOINC Component,None,LP307433-5,1970-01-01,2099-12-31,None
1,37068762,Satratoxin IgM | Serum | Microbiology,Measurement,LOINC,LOINC Hierarchy,C,LP379709-1,1970-01-01,2099-12-31,None
2,37068763,Signet ring cells,Observation,LOINC,LOINC Component,None,LP247841-2,1970-01-01,2099-12-31,None
3,37068764,Tryptase.mature | Serum or Plasma | Chemistry ...,Measurement,LOINC,LOINC Hierarchy,C,LP383273-2,1970-01-01,2099-12-31,None
4,37068765,Pathology biopsy report | Pancreas | Pathology,Observation,LOINC,LOINC Hierarchy,C,LP401954-5,1970-01-01,2099-12-31,None

In [18]:
# 진단 테이블에 concept테이블을 join하여 진단명을 얻는다.
# unique한 진단수는 151개로 확인된다.
condition_with_concept = \
pd.merge(condition_occurrence, concept,
         left_on="condition_concept_id", right_on='concept_id', how='left')


condition_with_concept['concept_name'].nunique()

151

In [19]:
condition_with_concept.head()

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,condition_status_concept_id,stop_reason,...,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,1466183,116496,0,2002-11-29,2002-11-29,None,NaT,32020,0,None,...,0,No matching concept,Metadata,None,Undefined,None,No matching concept,1970-01-01,2099-12-31,None
1,1466184,116496,0,2020-03-04,2020-03-04,2020-03-04,2020-03-04,32020,0,None,...,0,No matching concept,Metadata,None,Undefined,None,No matching concept,1970-01-01,2099-12-31,None
2,1466185,116496,81151,2015-03-24,2015-03-24,2015-04-14,2015-04-14,32020,0,None,...,81151,Sprain of ankle,Condition,SNOMED,Clinical Finding,S,44465007,1970-01-01,2099-12-31,None
3,1466186,116496,260139,2012-10-23,2012-10-23,2012-10-30,2012-10-30,32020,0,None,...,260139,Acute bronchitis,Condition,SNOMED,Clinical Finding,S,10509002,1970-01-01,2099-12-31,None
4,1466187,116496,312437,2020-03-04,2020-03-04,2020-04-04,2020-04-04,32020,0,None,...,312437,Dyspnea,Condition,SNOMED,Clinical Finding,S,267036007,1970-01-01,2099-12-31,None

In [20]:
# 검색을 위해 진단명을 소문자로 매핑한 칼럼을 생성한다.
condition_with_concept['concept_name(lower)'] = condition_with_concept['concept_name'].map(str.lower)

In [21]:
# 진단명 중 abcde 시작하며, heart라는 단어를 포함하는 데이터를 필터링 하기 위해 mask를 만든다.
# 첫글자는 abcde로 시작하고 & heart를 포함시킨 데이터는 48개로 확인도니다.
condition_mask = \
(condition_with_concept['concept_name(lower)'].str[0].isin(list('abcde')))\
& \
(condition_with_concept['concept_name(lower)'].str.contains('heart'))

condition_mask.sum()

48

In [22]:
# 필터링 후 중복제거해서 확인한다.
wanted_condition = condition_with_concept['concept_name(lower)'].loc[condition_mask].unique()
print(f"abcde로 시작하고 heart를 포함하는 진단명(들) : {list(wanted_condition)}")

abcde로 시작하고 heart를 포함하는 진단명(들) : ['chronic congestive heart failure']

### drug_exposure

 - drug_exposure 테이블은 환자가 병원에서 처방받은 약의 종류와 처방시작일과 종료일에 대한 정보를 포함하고 있습니다. 
 - 환자번호 ‘`1891866`’ 환자의 약 처방 데이터에서 `처방된 약의 종류별`로 `처음 시작일, 마지막 종료일, 복용일(마지막종료일과 처음시작일의 차이)`을 구하고 `복용일이 긴 순으로 정렬`하여 테이블을생성합니다.
    - 환자번호 : person_id, 
    - 약의 종류 : drug_concept_id, 
    - 처방시작일 :drug_exposure_start_date, 
    - 처방종료일 : drug_exposure_end_date

In [49]:
drug_exposure.head()

,drug_exposure_id,person_id,drug_concept_id,drug_exposure_start_date,drug_exposure_start_datetime,drug_exposure_end_date,drug_exposure_end_datetime,verbatim_end_date,drug_type_concept_id,stop_reason,...,route_concept_id,lot_number,provider_id,visit_occurrence_id,visit_detail_id,drug_source_value,drug_source_concept_id,route_source_value,dose_unit_source_value,drug_exposure_total_days
0,40900862,26922,19073183,2017-05-04,2017-05-04 01:41:54,2017-05-18,2017-05-18 01:41:54,2017-05-18,38000177,None,...,0,0,0,99499216,0,308182,19073183,None,None,15 days
1,40757313,2955,40231925,2016-07-24,2016-07-24 13:28:53,2016-09-23,2016-09-23 13:28:53,2016-09-23,38000177,None,...,0,0,0,9251642,0,1049221,40231925,None,None,62 days
2,52808614,2955,40229134,2015-04-02,2015-04-02 13:28:53,2015-04-16,2015-04-16 13:28:53,2015-04-16,38000177,None,...,0,0,0,57618650,0,1043400,40229134,None,None,15 days
3,52808615,2955,1115171,2016-07-24,2016-07-24 13:28:53,2016-08-23,2016-08-23 13:28:53,2016-08-23,38000177,None,...,0,0,0,9251642,0,849574,1115171,None,None,31 days
4,111107864,2955,40213154,2011-04-04,2011-04-04 13:28:53,2011-04-04,2011-04-04 13:28:53,2011-04-04,581452,None,...,0,0,0,57618654,0,140,40213154,None,None,1 days

In [50]:
# 날짜칼럼들의 dtypes가 object로 되어있어 계산용이를 위해 datetime형태로 변환해야한다.
drug_exposure['drug_exposure_start_date'].dtypes

dtype('<M8[ns]')

In [51]:
drug_exposure[['drug_exposure_start_date','drug_exposure_end_date']] = \
drug_exposure[['drug_exposure_start_date','drug_exposure_end_date']].apply( pd.to_datetime)

In [52]:
# 각 데이터마다 복용종료일 - 복용시작일 + 1일로 총 복용기간을 계산한다.
drug_exposure['drug_exposure_total_days'] = \
drug_exposure['drug_exposure_end_date'] - drug_exposure['drug_exposure_start_date'] \
+ pd.to_timedelta(1, unit='d')

In [54]:
# 문제에서 제시한 특정 환자 데이터만 추출한다.
patient_1891866 = drug_exposure.loc[drug_exposure['person_id'] ==1891866 ]

print(patient_1891866.shape)
patient_1891866.head()

(1469, 24)

,drug_exposure_id,person_id,drug_concept_id,drug_exposure_start_date,drug_exposure_start_datetime,drug_exposure_end_date,drug_exposure_end_datetime,verbatim_end_date,drug_type_concept_id,stop_reason,...,route_concept_id,lot_number,provider_id,visit_occurrence_id,visit_detail_id,drug_source_value,drug_source_concept_id,route_source_value,dose_unit_source_value,drug_exposure_total_days
29761,62232837,1891866,19009384,1959-12-01,1959-12-01 18:51:00,1959-12-01,1959-12-01 18:51:00,1959-12-01,38000177,None,...,0,0,0,27063979,0,106892,19009384,None,None,1 days
29762,62232856,1891866,19009384,1965-02-02,1965-02-02 18:51:00,1965-04-20,1965-04-20 18:51:00,1965-04-20,38000177,None,...,0,0,0,27063992,0,106892,19009384,None,None,78 days
29763,62232857,1891866,19009384,1965-04-20,1965-04-20 18:51:00,1965-04-27,1965-04-27 18:51:00,1965-04-27,38000177,None,...,0,0,0,27063993,0,106892,19009384,None,None,8 days
29764,62232858,1891866,19009384,1965-04-27,1965-04-27 18:51:00,1965-11-16,1965-11-16 18:51:00,1965-11-16,38000177,None,...,0,0,0,27064141,0,106892,19009384,None,None,204 days
29765,62232859,1891866,19009384,1965-11-16,1965-11-16 18:51:00,1966-02-15,1966-02-15 18:51:00,1966-02-15,38000177,None,...,0,0,0,27063994,0,106892,19009384,None,None,92 days

In [55]:
# 해당환자의 약 종류(drug_cept_id)별 데이터를 처리하기 위해
# 해당환자의 특정약에 대한 데이터를 뽑아서 확인해본다.
grouped = dict(list(patient_1891866.groupby(['drug_concept_id'])))
grouped.keys()

dict_keys([1539463, 19009384, 19030765, 40213154, 40213227])

In [56]:
sample_drug = grouped[1539463]
sample_drug.head()

,drug_exposure_id,person_id,drug_concept_id,drug_exposure_start_date,drug_exposure_start_datetime,drug_exposure_end_date,drug_exposure_end_datetime,verbatim_end_date,drug_type_concept_id,stop_reason,...,route_concept_id,lot_number,provider_id,visit_occurrence_id,visit_detail_id,drug_source_value,drug_source_concept_id,route_source_value,dose_unit_source_value,drug_exposure_total_days
29872,62233149,1891866,1539463,1990-03-13,1990-03-13 18:51:00,1998-03-11,1998-03-11 18:51:00,1998-03-11,38000177,None,...,0,0,0,27062929,0,314231,1539463,None,None,2921 days
30039,62233422,1891866,1539463,1992-03-12,1992-03-12 18:51:00,1993-03-12,1993-03-12 18:51:00,1993-03-12,38000177,None,...,0,0,0,27063174,0,314231,1539463,None,None,366 days
30251,62233289,1891866,1539463,1991-03-13,1991-03-13 18:51:00,1992-03-12,1992-03-12 18:51:00,1992-03-12,38000177,None,...,0,0,0,27063052,0,314231,1539463,None,None,366 days
30335,62233556,1891866,1539463,1993-03-12,1993-03-12 18:51:00,1994-03-12,1994-03-12 18:51:00,1994-03-12,38000177,None,...,0,0,0,27063297,0,314231,1539463,None,None,366 days
30408,62233690,1891866,1539463,1994-03-12,1994-03-12 18:51:00,1995-03-12,1995-03-12 18:51:00,1995-03-12,38000177,None,...,0,0,0,27063419,0,314231,1539463,None,None,366 days

In [57]:
# 처방약별 복용시작일 순으로 정렬한다.
sample_drug = sample_drug.sort_values(by=['drug_exposure_start_date'])
sample_drug.head()

,drug_exposure_id,person_id,drug_concept_id,drug_exposure_start_date,drug_exposure_start_datetime,drug_exposure_end_date,drug_exposure_end_datetime,verbatim_end_date,drug_type_concept_id,stop_reason,...,route_concept_id,lot_number,provider_id,visit_occurrence_id,visit_detail_id,drug_source_value,drug_source_concept_id,route_source_value,dose_unit_source_value,drug_exposure_total_days
29872,62233149,1891866,1539463,1990-03-13,1990-03-13 18:51:00,1998-03-11,1998-03-11 18:51:00,1998-03-11,38000177,None,...,0,0,0,27062929,0,314231,1539463,None,None,2921 days
30251,62233289,1891866,1539463,1991-03-13,1991-03-13 18:51:00,1992-03-12,1992-03-12 18:51:00,1992-03-12,38000177,None,...,0,0,0,27063052,0,314231,1539463,None,None,366 days
30039,62233422,1891866,1539463,1992-03-12,1992-03-12 18:51:00,1993-03-12,1993-03-12 18:51:00,1993-03-12,38000177,None,...,0,0,0,27063174,0,314231,1539463,None,None,366 days
30335,62233556,1891866,1539463,1993-03-12,1993-03-12 18:51:00,1994-03-12,1994-03-12 18:51:00,1994-03-12,38000177,None,...,0,0,0,27063297,0,314231,1539463,None,None,366 days
30408,62233690,1891866,1539463,1994-03-12,1994-03-12 18:51:00,1995-03-12,1995-03-12 18:51:00,1995-03-12,38000177,None,...,0,0,0,27063419,0,314231,1539463,None,None,366 days

In [58]:
# 최초 복용 시작일
sample_drug['drug_exposure_start_date'].min()

Timestamp('1990-03-13 00:00:00')

In [59]:
# 마지막 복용일
sample_drug['drug_exposure_end_date'].max()

Timestamp('1998-03-11 00:00:00')

In [60]:
# 약별 총 복용일
sample_drug['drug_exposure_total_days'].sum()

Timedelta('5484 days 00:00:00')

In [61]:
# 각 처방약별 집계시
# 위에서 확인한 3개의 데이터가 반환되도록 함수를 작성한다.
def get_start_end_total_exposure(agg_df):
    temp_df = agg_df.sort_values(by=['drug_exposure_start_date'])
    start_ = temp_df['drug_exposure_start_date'].min()
    end_ = temp_df['drug_exposure_end_date'].max()
    total_ = temp_df['drug_exposure_total_days'].sum()
    return pd.DataFrame({
        '처음_시작일':start_,
        '마지막_종료일':end_,
        '총_복용일':total_
    }, index=temp_df.index).iloc[0]

In [62]:
# 특정환자의 처방약별로 3개의 데이터를 추출한 뒤,
# 총 복용일이 긴 순으로 내림차순 정렬한다.
patient_1891866 = patient_1891866.groupby(['drug_concept_id']).apply(lambda agg_df : get_start_end_total_exposure(agg_df))
# patient_1891866 = patient_1891866.sort_values(by=['총_복용일'], ascending=False)
show(patient_1891866)

### drug_exposure 2

 - `drug_exposure` 테이블은 환자가 병원에서 처방받은 약의 종류와 처방시작일과 종료일에 대한 정보를 포함하고 있습니다. 
     - drug_exposure 테이블로부터 선택된 15가지의 약 번호와 약품명이 저장된 첫번째 `drugs` 테이블이 있으며, 
     - 15가지 약 별로 drug_exposure에 저장된 처방건수가 저장된 두번째 `prescription_count` 테이블이 있습니다. 
     - 마지막으로 drugs 테이블에 해당되는 15가지 약별로 가장 많이 처방되는 약을 짝지어 놓은 `drug_pair` 테이블이 있습니다. 
     
     
 - 3개의 테이블을 사용하여 **짝지어진 두번째 약의 처방 건수가 첫번째 약의 처방 건수보다 더 많은 첫번째 약의 약품명을 처방건수 순으로 출력**합니다.
    - drugs : drug_concept_id(첫번째약 번호), concept_name(약품명)
    - prescription_count : drug_concept_id(첫번째약 번호), cnt(처방건수)
    - drug_pair : drug_concept_id1(첫번째약 번호), drug_concept_id2(두번째약 번호)
    - 아래 쿼리를 활용하세요.
    
    ```sql
with drug_list as (
select distinct drug_concept_id, concept_name, count(*) as cnt from
synthea_cdm_1000.drug_exposure de
join synthea_cdm_1000.concept
on drug_concept_id = concept_id
where concept_id in (
40213154,19078106,19009384,40224172,19127663,1511248,40169216,1539463,
19126352,1539411,1332419,40163924,19030765,19106768,19075601)
group by drug_concept_id,concept_name
order by count(*) desc
)
, drugs as (select drug_concept_id, concept_name from drug_list)
, prescription_count as (select drug_concept_id, cnt from drug_list)
```

In [63]:
# hint에서 주어진 쿼리를 활용하여 drug_list 테이블 생성
# 이후 drug_list테이블 -> drugs, prescription_count 테이블이 생성된다.

In [67]:
%load_ext sql

In [68]:
# QQQ
%env DATABASE_URL=postgresql://walker101:forcebewithyou@49.50.167.136:5432/synthea_1000

env: DATABASE_URL=postgresql://walker101:forcebewithyou@49.50.167.136:5432/synthea_1000

In [69]:
%%sql drug_list <<

select distinct drug_concept_id, concept_name, count(*) as cnt from
drug_exposure de
join concept
on drug_concept_id = concept_id
where concept_id in (
40213154,19078106,19009384,40224172,19127663,1511248,40169216,1539463,
19126352,1539411,1332419,40163924,19030765,19106768,19075601)
group by drug_concept_id,concept_name
order by count(*) desc

15 rows affected.
Returning data to local variable drug_list

In [70]:
drug_list = drug_list.DataFrame()
drug_list

    drug_concept_id                                       concept_name   cnt
0          40213154  Influenza, seasonal, injectable, preservative ...  8015
1          19078106              hydrochlorothiazide 25 MG Oral Tablet  3669
2          19009384  insulin isophane, human 70 UNT/ML / insulin, r...  2825
3          40224172  amlodipine 5 MG / hydrochlorothiazide 12.5 MG ...  2814
4          19127663  atenolol 50 MG / chlorthalidone 25 MG Oral Tab...  2729
5           1511248  NDA020503 200 ACTUAT albuterol 0.09 MG/ACTUAT ...  1802
6          40169216  120 ACTUAT fluticasone propionate 0.044 MG/ACT...  1716
7           1539463                      simvastatin 10 MG Oral Tablet  1681
8          19126352          nitroglycerin 0.4 MG/ACTUAT Mucosal Spray  1486
9           1539411                      simvastatin 20 MG Oral Tablet  1318
10          1332419                        amlodipine 5 MG Oral Tablet  1247
11         40163924  24 HR metformin hydrochloride 500 MG Extended ...  1235
12         19030765   1 ML epoetin alfa 4000 UNT/ML Injection [Epogen]  1214
13         19106768            hydrochlorothiazide 12.5 MG Oral Tablet  1199
14         19075601                      clopidogrel 75 MG Oral Tablet  1164

In [73]:
# 총 164개의 drug_concept_id중에 15개만 추출됨.
print("전체 약의 갯수 : ",drug_list['drug_concept_id'].nunique())
print("분석 약의 갯수 : ",drug_exposure['drug_concept_id'].nunique())

전체 약의 갯수 :  15
분석 약의 갯수 :  164

In [75]:
# drug_list에서 필요한 칼럼만 각각 추출시
# drugs테이블과 prescription_count테이블이 생성된다.
drugs = drug_list[['drug_concept_id', 'concept_name']]
drugs

    drug_concept_id                                       concept_name
0          40213154  Influenza, seasonal, injectable, preservative ...
1          19078106              hydrochlorothiazide 25 MG Oral Tablet
2          19009384  insulin isophane, human 70 UNT/ML / insulin, r...
3          40224172  amlodipine 5 MG / hydrochlorothiazide 12.5 MG ...
4          19127663  atenolol 50 MG / chlorthalidone 25 MG Oral Tab...
5           1511248  NDA020503 200 ACTUAT albuterol 0.09 MG/ACTUAT ...
6          40169216  120 ACTUAT fluticasone propionate 0.044 MG/ACT...
7           1539463                      simvastatin 10 MG Oral Tablet
8          19126352          nitroglycerin 0.4 MG/ACTUAT Mucosal Spray
9           1539411                      simvastatin 20 MG Oral Tablet
10          1332419                        amlodipine 5 MG Oral Tablet
11         40163924  24 HR metformin hydrochloride 500 MG Extended ...
12         19030765   1 ML epoetin alfa 4000 UNT/ML Injection [Epogen]
13         19106768            hydrochlorothiazide 12.5 MG Oral Tablet
14         19075601                      clopidogrel 75 MG Oral Tablet

In [76]:
prescription_count = drug_list[['drug_concept_id', 'cnt']]
prescription_count

    drug_concept_id   cnt
0          40213154  8015
1          19078106  3669
2          19009384  2825
3          40224172  2814
4          19127663  2729
5           1511248  1802
6          40169216  1716
7           1539463  1681
8          19126352  1486
9           1539411  1318
10          1332419  1247
11         40163924  1235
12         19030765  1214
13         19106768  1199
14         19075601  1164

In [77]:
# 분석에 활용될 또다른 테이블 drug_pair는 원래 주어진 테이블이다.
drug_pair.head()

   drug_concept_id1  drug_concept_id2
0          40213154          19078106
1          19078106          40213154
2          19009384          19030765
3          40224172          40213154
4          19127663          19009384

In [78]:
# drug_pari테이블에 prescription_count의 정보를 left join으로 붙인다.
# drug_concept_id1와 drug_concept_id2의 count가 row별로 각각 표기되어야하므로
# 2번의 join(merge)를 거쳐야 한다.
drug_pair_count_df = \
pd.merge(drug_pair, prescription_count,
         left_on='drug_concept_id1',right_on='drug_concept_id',
         how='left').drop(['drug_concept_id'],axis=1)\
        .rename(columns={'cnt':'id1_count'})\
    .merge(prescription_count,
          left_on='drug_concept_id2', right_on='drug_concept_id')\
        .rename(columns={'cnt':'id2_count'}).drop(['drug_concept_id'],axis=1)
            
drug_pair_count_df

    drug_concept_id1  drug_concept_id2  id1_count  id2_count
0           40213154          19078106       8015       3669
1           40163924          19078106       1235       3669
2           19078106          40213154       3669       8015
3           40224172          40213154       2814       8015
4           19106768          40213154       1199       8015
5           19009384          19030765       2825       1214
6            1539463          19030765       1681       1214
7           19127663          19009384       2729       2825
8           19030765          19009384       1214       2825
9            1511248          40169216       1802       1716
10          40169216           1511248       1716       1802
11          19126352           1539411       1486       1318
12           1539411          19126352       1318       1486
13           1332419          19126352       1247       1486
14          19075601          19126352       1164       1486

In [79]:
# 2번째 약의 처방건수가 많은 경우만 필터링한다.
id2_win_df = \
drug_pair_count_df.loc[drug_pair_count_df['id2_count'] > drug_pair_count_df['id1_count']]

In [82]:
# 여기서 필요한 것은 첫번째약의 이름과 처방건수다. 해당 칼럼만 필터링 이후 정렬한다.
id2_win_id1_count_df = \
id2_win_df.merge(drugs,
                left_on='drug_concept_id1', right_on='drug_concept_id')\
                .drop(['drug_concept_id2', 'id2_count', 'drug_concept_id'],axis=1)

id2_win_id1_count_df.columns=['첫번째약_번호', '처방건수', '약품명']
id2_win_id1_count_df = id2_win_id1_count_df[['약품명', '처방건수']].sort_values(by=['처방건수'], ascending=False)
show(id2_win_id1_count_df)

### 제 2형 당뇨병 진단 후 Metformin 90일 이상 복용 환자 수 추출
 -  제 2형 당뇨병을 진단받은 환자 중에
    - 당뇨환자의 condition_concept_id 는 다음을 사용합니다.
        - 3191208,36684827,3194332,3193274,43531010,4130162,45766052,45757474,4099651,4129519,4063043,4230254,4193704,4304377,201826,3194082,3192767
 - 18세 이상의 환자 중에
 - 진단을 받은 이후 Metformin을 90일 이상 복용한 환자수
     - i. drug_concept_id 는 40163924 를 사용합니다.

In [86]:
# 전체 환자 1000명 중 진단 테이블에 얼마나 존재하는지 확인
# -> 7명은 진단이 없었음.
# 전체 환자 1000명 중 7명은 진단이 없었다.
print("전체 환자 수 :",condition_occurrence['person_id'].nunique())
# 진단이 없는 환자 목록
print("진단명이 없는 환자 수 :",list(set(person['person_id']) - set(condition_occurrence['person_id'])))

전체 환자 수 : 993
진단명이 없는 환자 수 : [470594, 1737987, 218372, 709963, 2813715, 1638422, 215966]

In [87]:
# 전체 진단은 151종류이며, 제 2형당뇨병 진단은 주어진데로 17종류의 진다명을 사용한다.
print("전체 진단명 수 :",condition_occurrence['condition_concept_id'].nunique())
# 이 가운데 제2형 당뇨병 진단명은 17가지
diabetes_concept_ids = [3191208,36684827,3194332,3193274,43531010,4130162,45766052,45757474,4099651,4129519,4063043,4230254,4193704,4304377,201826,3194082,3192767]
print("제 2형 당뇨병 진단명 :",len(diabetes_concept_ids))

전체 진단명 수 : 151
제 2형 당뇨병 진단명 : 17

In [88]:
# 진단 데이터 중 제 2형 당뇨병 진단받은 데이터는 56가지이다.
diabetes_occurrence = condition_occurrence.loc[condition_occurrence['condition_concept_id'].isin(diabetes_concept_ids)]
print("제 2형 당뇨병 진단 데이터 수:",diabetes_occurrence.shape[0])

제 2형 당뇨병 진단 데이터 수: 56

In [89]:
diabetes_occurrence.head()

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,condition_status_concept_id,stop_reason,provider_id,visit_occurrence_id,visit_detail_id,condition_source_value,condition_source_concept_id,condition_status_source_value
135,18852812,1496597,201826,2003-06-25,2003-06-25,None,NaT,32020,0,None,None,118098027,0,44054006,201826,None
183,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,None,25713132,0,44054006,201826,None
253,28897593,2293584,201826,2018-10-07,2018-10-07,None,NaT,32020,0,None,None,87633778,0,44054006,201826,None
782,29253135,2321793,201826,2016-01-19,2016-01-19,None,NaT,32020,0,None,None,40870122,0,44054006,201826,None
991,17065310,1354811,201826,1970-04-24,1970-04-24,None,NaT,32020,0,None,None,102058365,0,44054006,201826,None

In [90]:
# 제 2형 당뇨병 진단받은 환자수도 56명이다.(중복 진단 데이터는 없음)
print("제 2형 당뇨병 진단 환자 수:",diabetes_occurrence['person_id'].nunique())

제 2형 당뇨병 진단 환자 수: 56

In [91]:
# 진단 정보에 person_id를 이용해 person테이블의 나이정보를 붙인다.
diabetes_with_person_data = \
pd.merge(diabetes_occurrence, person,
         on='person_id')

print(diabetes_with_person_data.shape)
diabetes_with_person_data.head()

(56, 33)

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,condition_status_concept_id,stop_reason,...,location_id,provider_id_y,care_site_id,person_source_value,gender_source_value,gender_source_concept_id,race_source_value,race_source_concept_id,ethnicity_source_value,ethnicity_source_concept_id
0,18852812,1496597,201826,2003-06-25,2003-06-25,None,NaT,32020,0,None,...,None,None,None,db904705-77c3-46d3-8aa6-61bd8937e46d,M,0,white,0,nonhispanic,0
1,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,None,None,None,1262e880-c0f5-4035-9997-6ca6feaa788e,M,0,white,0,nonhispanic,0
2,28897593,2293584,201826,2018-10-07,2018-10-07,None,NaT,32020,0,None,...,None,None,None,99851e74-1cfd-40cb-92f3-1955a5b997b0,F,0,asian,0,nonhispanic,0
3,29253135,2321793,201826,2016-01-19,2016-01-19,None,NaT,32020,0,None,...,None,None,None,336de484-6a50-4467-bc84-bdb1ad54cff4,M,0,white,0,nonhispanic,0
4,17065310,1354811,201826,1970-04-24,1970-04-24,None,NaT,32020,0,None,...,None,None,None,b8da5c1a-08eb-454e-a134-f838d83e4883,M,0,white,0,nonhispanic,0

In [92]:
# 출생년원일을 이용해서 만 나이를 계산(만18세이상)하기 위해, datetime의 타입을 바꾼다.
diabetes_with_person_data['birth_datetime'] = diabetes_with_person_data['birth_datetime'].apply(pd.to_datetime)

In [93]:
# 만나이 = 올해년도 - 출생년도  (-1 if 월,일 안지났으면)
def calculate_age(born):
    today = pd.Timestamp('today')
    age = today.year - born.year - ((today.month, today.day) < (born.month, born.day))
    return age

In [94]:
# 만 나이의 정보가 담긴 age칼럼을 생성한다.
diabetes_with_person_data['age'] = diabetes_with_person_data['birth_datetime'].apply( calculate_age ) 
# 18세 이상의 환자만 필터링한다.
# 제외되는 환자없이 56명 그대로 유지.
diabetes_with_person_higher_18 = diabetes_with_person_data.loc [ diabetes_with_person_data['age']>=18]
diabetes_with_person_higher_18.head()

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,condition_status_concept_id,stop_reason,...,provider_id_y,care_site_id,person_source_value,gender_source_value,gender_source_concept_id,race_source_value,race_source_concept_id,ethnicity_source_value,ethnicity_source_concept_id,age
0,18852812,1496597,201826,2003-06-25,2003-06-25,None,NaT,32020,0,None,...,None,None,db904705-77c3-46d3-8aa6-61bd8937e46d,M,0,white,0,nonhispanic,0,55
1,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,None,None,1262e880-c0f5-4035-9997-6ca6feaa788e,M,0,white,0,nonhispanic,0,76
2,28897593,2293584,201826,2018-10-07,2018-10-07,None,NaT,32020,0,None,...,None,None,99851e74-1cfd-40cb-92f3-1955a5b997b0,F,0,asian,0,nonhispanic,0,50
3,29253135,2321793,201826,2016-01-19,2016-01-19,None,NaT,32020,0,None,...,None,None,336de484-6a50-4467-bc84-bdb1ad54cff4,M,0,white,0,nonhispanic,0,36
4,17065310,1354811,201826,1970-04-24,1970-04-24,None,NaT,32020,0,None,...,None,None,b8da5c1a-08eb-454e-a134-f838d83e4883,M,0,white,0,nonhispanic,0,89

In [97]:
# 진단받은 이후의 drug_concept_id=40163924(Metformin)복용기록이 90일 이상 찾아야한다.
# 진단일 정보에 drug_exposure의 복용정보를 join한다.
diabetes_and_drugs = \
diabetes_with_person_higher_18.merge( drug_exposure,
    on=['person_id'], how='left'
)
# 당뇨병 진단환자들마다 복용기록이 붙어 데이터가 늘어난다. 12748 rows
print("데이터 수:", diabetes_and_drugs.shape[0])

(12748, 57)
56

In [114]:
# 먼저, Metformin 복용기록이 있는 데이터만 필터링한다.
metformin_mask = diabetes_and_drugs['drug_concept_id'].isin([40163924])
diabetes_and_metformin = diabetes_and_drugs.loc[metformin_mask]
diabetes_and_metformin.shape

(1235, 57)

In [115]:
diabetes_and_metformin.head()

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,condition_status_concept_id,stop_reason_x,...,route_concept_id,lot_number,provider_id,visit_occurrence_id_y,visit_detail_id_y,drug_source_value,drug_source_concept_id,route_source_value,dose_unit_source_value,drug_exposure_total_days
38,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713156,0,860975,40163924,None,None,372 days
40,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713157,0,860975,40163924,None,None,372 days
42,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713158,0,860975,40163924,None,None,372 days
44,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713159,0,860975,40163924,None,None,372 days
46,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713160,0,860975,40163924,None,None,113 days

In [156]:
# 진단일이후로 복약시작하여 총 복약일수가 90일이 넘어야한다.
# 진단일 <= 복용시작일로 진단이후 복용한 날짜를 필터링해야한다.
# 이 때, 복용시작 ~ 복용종료일 사이에 진단이 내려질 수 있으니 그것도 고려해야한다.
#    1) 진단일 < 복용시작일
#    2) 복용시작일 <= 진단일 <= 복용종료일 : 진단일~복용종료일로 복용일수를 세야한다.
# 날짜칼럼들을 계산을 위해 type을 변경하고,  2가지 경우에 대해 mask를 만들고 필터링한다.

diabetes_and_metformin[['condition_start_date', 'drug_exposure_start_date', 'drug_exposure_end_date']] = \
diabetes_and_metformin[['condition_start_date', 'drug_exposure_start_date', 'drug_exposure_end_date']].apply(pd.to_datetime)

metformin_after_condition_mask = \
(diabetes_and_metformin['condition_start_date'] < diabetes_and_metformin['drug_exposure_start_date']) \

metformin_in_condition_mask = \
((diabetes_and_metformin['condition_start_date'] >= diabetes_and_metformin['drug_exposure_start_date'])
&    
(diabetes_and_metformin['condition_start_date'] <= diabetes_and_metformin['drug_exposure_end_date']))

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [157]:
metformin_after_diabetes = \
diabetes_and_metformin.loc[metformin_after_condition_mask|metformin_in_condition_mask]
print(metformin_after_diabetes.shape)
metformin_after_diabetes.head()

(1228, 57)

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,condition_status_concept_id,stop_reason_x,...,route_concept_id,lot_number,provider_id,visit_occurrence_id_y,visit_detail_id_y,drug_source_value,drug_source_concept_id,route_source_value,dose_unit_source_value,drug_exposure_total_days
38,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713156,0,860975,40163924,None,None,372 days
40,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713157,0,860975,40163924,None,None,372 days
42,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713158,0,860975,40163924,None,None,372 days
44,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713159,0,860975,40163924,None,None,372 days
46,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713160,0,860975,40163924,None,None,113 days

In [158]:
# 총 복용일 계산에 필요한 칼럼들만 추출한다.
metformin_after_diabetes = metformin_after_diabetes[['person_id','condition_start_date', 'drug_exposure_start_date','drug_exposure_end_date']] 
metformin_after_diabetes

,person_id,condition_start_date,drug_exposure_start_date,drug_exposure_end_date
38,31196,1983-02-03,2008-06-25,2009-07-01
40,31196,1983-02-03,2009-07-01,2010-07-07
42,31196,1983-02-03,2010-07-07,2011-07-13
44,31196,1983-02-03,2011-07-13,2012-07-18
46,31196,1983-02-03,2012-07-18,2012-11-07
...,...,...,...,...
12652,2170146,1970-02-18,2016-07-13,2017-07-19
12654,2170146,1970-02-18,2017-07-19,2018-07-25
12656,2170146,1970-02-18,2018-07-25,2019-07-31
12658,2170146,1970-02-18,2019-07-31,2020-04-22
12659,2170146,1970-02-18,2020-04-22,2020-04-22

In [161]:
# 2가지 case마다 총 복용일 계산법이 다르므로 mask마다 필터링해서 나눈 뒤,
# 각각 계산한다.
case1_df = metformin_after_diabetes.loc[metformin_after_condition_mask]
case1_df.shape

(1213, 4)

In [162]:
case2_df = metformin_after_diabetes.loc[metformin_in_condition_mask]
case2_df.shape

(15, 4)

In [149]:
case1_df.head()

,person_id,condition_start_date,drug_exposure_start_date,drug_exposure_end_date
38,31196,1983-02-03,2008-06-25,2009-07-01
40,31196,1983-02-03,2009-07-01,2010-07-07
42,31196,1983-02-03,2010-07-07,2011-07-13
44,31196,1983-02-03,2011-07-13,2012-07-18
46,31196,1983-02-03,2012-07-18,2012-11-07

In [163]:
# case1) 진단일 < 복용시작일인 경우, 복용시작일 ~ 복용종료일을 다 계산한다
case1_df['metformin_복용일']=\
case1_df['drug_exposure_end_date'] - case1_df['drug_exposure_start_date']  + pd.to_timedelta(1, unit='d')

case1_df.head()

<ipython-input-163-45eb313ea670>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  case1_df['metformin_복용일']=\

,person_id,condition_start_date,drug_exposure_start_date,drug_exposure_end_date,metformin_복용일
38,31196,1983-02-03,2008-06-25,2009-07-01,372 days
40,31196,1983-02-03,2009-07-01,2010-07-07,372 days
42,31196,1983-02-03,2010-07-07,2011-07-13,372 days
44,31196,1983-02-03,2011-07-13,2012-07-18,372 days
46,31196,1983-02-03,2012-07-18,2012-11-07,113 days

In [164]:
case2_df.head()

,person_id,condition_start_date,drug_exposure_start_date,drug_exposure_end_date
1360,609120,1988-03-27,1988-03-26,1989-04-01
1770,2143829,1994-07-20,1994-07-19,1995-07-25
1940,487607,2016-11-29,2016-11-28,2017-12-04
1963,1826955,2018-07-25,2018-07-25,2018-07-25
1964,1826955,2018-07-25,2018-07-25,2019-07-31

In [165]:
# case2)  복용시작 <= 진단일 <= 복용종료인 경우, 진단일~복용종료일까지 계산한다.
case2_df['metformin_복용일']=\
case2_df['drug_exposure_end_date'] - case2_df['condition_start_date']  + pd.to_timedelta(1, unit='d')

case2_df.head()

<ipython-input-165-69c2d7ef7914>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  case2_df['metformin_복용일']=\

,person_id,condition_start_date,drug_exposure_start_date,drug_exposure_end_date,metformin_복용일
1360,609120,1988-03-27,1988-03-26,1989-04-01,371 days
1770,2143829,1994-07-20,1994-07-19,1995-07-25,371 days
1940,487607,2016-11-29,2016-11-28,2017-12-04,371 days
1963,1826955,2018-07-25,2018-07-25,2018-07-25,1 days
1964,1826955,2018-07-25,2018-07-25,2019-07-31,372 days

In [167]:
# 2가지 배반 case를 합친다.
total_metformin_after_diabetes = pd.concat([case1_df, case2_df])

In [172]:
# 환자별로 metformin_복용일을 총 복용일을 합산한 series를 생성한다.
total_metformin_after_diabetes_count_series = \
total_metformin_after_diabetes.groupby(['person_id'])['metformin_복용일'].sum()
# 90일이상 복용한 환자만 필터링 한다.
total_metformin_after_diabetes_count_than_90_series = \
total_metformin_after_diabetes_count_series.loc[total_metformin_after_diabetes_count_series.dt.days >=90]

# 90일이상 복용한 환자들의 id값들을 list로 변환하여 추출한다.
print("Metformin을 90일 이상 복용한 환자 수 :",len(total_metformin_after_diabetes_count_than_90_series.index.unique()))
# 90일이상 복용한 환자들의 id값들을 list로 변환하여 추출한다.
total_metformin_after_diabetes_count_than_90_list = total_metformin_after_diabetes_count_than_90_series.index.tolist()
print("Metformin을 90일 이상 복용한 환자의 person_id 리스트 : \n",total_metformin_after_diabetes_count_than_90_list)

Metformin을 90일 이상 복용한 환자 수 : 30
Metformin을 90일 이상 복용한 환자의 person_id 리스트 :
 [31196, 50663, 67212, 176640, 478532, 487607, 495973, 510173, 531690, 537462, 609120, 843873, 892185, 909084, 1102377, 1134605, 1317600, 1444791, 1578321, 1743075, 1819367, 1821726, 1826955, 2074366, 2143829, 2170146, 2400845, 2452672, 2537704, 2694671]

### 제 2형 당뇨병 진단 환자의 의약품 처방 변경 패턴
 - 전 문제의 첫번째 항목(제 2형 당뇨병을 진단받은 환자)에서 추출한 환자군의 의약품 처방이 변경된 패턴을 추출하고, 그 빈도의 내림차순으로 나열합니다.
    - drug_concept_id는 다음을 사용합니다.
        - digoxin: 19018935
        - simvastatin: 1539411,1539463
        - clopidogrel: 19075601
        - naproxen: 1115171
 - 처방 패턴의 예시는 a->b->c 과 같이 나타낼 수 있습니다.
    - 예를 들어, a->a->b->c->c 는 위 패턴에 해당합니다. 그러나 a->b->a->b->c 는 위 패턴에 해당하지 않습니다.
    - 처방 패턴의 빈도는 a->b->c 와 같은 패턴의 처방을 받은 환자가 몇명인지로 정의합니다.

 - 같은 날 처방된 약은 한 그룹으로 묶습니다.
     - 괄호가 같은 날의 처방을 나타낸다면, 처방 패턴은 (a, b)->c 와 같이나타낼 수 있습니다.

 - 데이터에 나타나는 모든 패턴의 빈도를 집계하고, 결과 예시는 다음과같습니다.
     ![image-20210731230011126](https://raw.githubusercontent.com/is3js/screenshots/main/image-20210731230011126.png)

In [173]:
print(diabetes_occurrence.shape)
diabetes_occurrence.head()

(56, 16)

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,condition_status_concept_id,stop_reason,provider_id,visit_occurrence_id,visit_detail_id,condition_source_value,condition_source_concept_id,condition_status_source_value
135,18852812,1496597,201826,2003-06-25,2003-06-25,None,NaT,32020,0,None,None,118098027,0,44054006,201826,None
183,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,None,25713132,0,44054006,201826,None
253,28897593,2293584,201826,2018-10-07,2018-10-07,None,NaT,32020,0,None,None,87633778,0,44054006,201826,None
782,29253135,2321793,201826,2016-01-19,2016-01-19,None,NaT,32020,0,None,None,40870122,0,44054006,201826,None
991,17065310,1354811,201826,1970-04-24,1970-04-24,None,NaT,32020,0,None,None,102058365,0,44054006,201826,None

In [174]:
# 제 2형 당뇨병 환자 데이터에 복용 정보를 join하고, 해당 의약품 4가지 정보만 필터링 한다.
# digoxin: 19018935
# simvastatin: 1539411,1539463
# clopidogrel: 19075601
# naproxen: 1115171
diabetes_with_four_drugs = \
diabetes_occurrence.merge( drug_exposure,
    on=['person_id'], how='left'
)
four_drugs_mask = diabetes_with_four_drugs['drug_concept_id'].isin([19018935, 1539411, 1539463, 19075601, 1115171])
diabetes_with_four_drugs = diabetes_with_four_drugs.loc[four_drugs_mask]

print(diabetes_with_four_drugs.shape)
diabetes_with_four_drugs.head()

(1577, 39)

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,condition_status_concept_id,stop_reason_x,...,route_concept_id,lot_number,provider_id_y,visit_occurrence_id_y,visit_detail_id_y,drug_source_value,drug_source_concept_id,route_source_value,dose_unit_source_value,drug_exposure_total_days
21,18852812,1496597,201826,2003-06-25,2003-06-25,None,NaT,32020,0,None,...,0,0,0,118098012,0,849574,1115171,None,None,1 days
39,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713092,0,314231,1539463,None,None,366 days
41,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713093,0,314231,1539463,None,None,366 days
43,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713094,0,314231,1539463,None,None,366 days
45,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713096,0,314231,1539463,None,None,366 days

In [183]:
# 약품을 concept_id -> a,b,c,d로 매핑한다.
# digoxin(19018935) -> a  
# simvastatin(1539411,1539463) -> b
# clopidogrel(19075601) -> c
# naproxen(1115171) -> d
four_drug_mapping = {
    19018935 : 'a',
    1539411 : 'b',
    1539463 : 'b',
    19075601 : 'c',
    1115171 : 'd',
}
diabetes_with_four_drugs['drug_concept_id'] = diabetes_with_four_drugs['drug_concept_id'].map( four_drug_mapping )
diabetes_with_four_drugs['drug_concept_id'].value_counts()

b    726
c    528
a    303
d     20
Name: drug_concept_id, dtype: int64

In [184]:
# 복용시작일 순으로 패턴을 파악해야한다. 
# datetime 형태면 index관리가 어려우므로 복용시작일 칼럼의 type을 string으로 바꿔준다.
diabetes_with_four_drugs['drug_exposure_start_date'] = diabetes_with_four_drugs['drug_exposure_start_date'].astype(str)

In [185]:
# 환자별 복용시작일별 약물의 패턴들을 먼저 발견해야한다.
# 환자별, 복용시작일별 예시 데이터를 하나 뽑아본다.
grouped = dict(list(diabetes_with_four_drugs.groupby(['person_id', 'drug_exposure_start_date'])))
grouped.keys()

dict_keys([(31196, '1997-05-14'), (31196, '1998-05-14'), (31196, '1999-05-14'), (31196, '2000-05-13'), (31196, '2001-05-13'), (31196, '2002-05-13'), (31196, '2003-05-13'), (31196, '2004-05-12'), (31196, '2005-05-12'), (31196, '2006-05-12'), (31196, '2007-05-12'), (31196, '2008-05-11'), (31196, '2009-05-11'), (31196, '2010-05-11'), (31196, '2011-05-11'), (31196, '2012-05-10'), (31196, '2013-05-10'), (31196, '2014-05-10'), (31196, '2014-08-26'), (31196, '2015-05-10'), (31196, '2016-05-09'), (31196, '2017-05-09'), (31196, '2018-05-09'), (31196, '2019-05-09'), (50663, '2014-08-01'), (67212, '2016-11-19'), (170280, '2002-09-30'), (170280, '2011-11-12'), (347825, '1999-11-15'), (347825, '2008-10-16'), (347825, '2008-11-20'), (347825, '2008-12-11'), (347825, '2009-01-29'), (347825, '2009-04-16'), (347825, '2009-05-21'), (347825, '2009-07-09'), (347825, '2009-10-15'), (347825, '2009-12-11'), (347825, '2010-01-14'), (347825, '2010-04-22'), (347825, '2010-06-10'), (347825, '2010-12-11'), (347825, '2011-03-10'), (347825, '2011-04-28'), (347825, '2011-06-02'), (347825, '2011-07-07'), (347825, '2011-10-06'), (347825, '2011-12-11'), (347825, '2012-05-03'), (347825, '2012-06-28'), (347825, '2012-07-26'), (347825, '2012-08-30'), (347825, '2012-12-10'), (347825, '2013-05-09'), (347825, '2013-05-23'), (347825, '2013-06-27'), (347825, '2013-07-25'), (347825, '2013-11-21'), (347825, '2013-12-10'), (347825, '2014-02-20'), (347825, '2014-05-15'), (347825, '2014-11-20'), (347825, '2014-12-10'), (347825, '2015-01-15'), (347825, '2015-02-12'), (347825, '2015-03-19'), (347825, '2015-05-14'), (347825, '2015-05-21'), (347825, '2015-06-11'), (347825, '2015-09-10'), (347825, '2015-10-15'), (347825, '2015-11-12'), (347825, '2015-12-10'), (347825, '2016-01-07'), (347825, '2016-03-10'), (347825, '2016-04-07'), (347825, '2016-05-12'), (347825, '2016-05-26'), (347825, '2016-06-09'), (347825, '2016-07-07'), (347825, '2016-08-04'), (347825, '2016-10-06'), (347825, '2016-12-08'), (347825, '2016-12-09'), (347825, '2017-01-05'), (347825, '2017-03-02'), (347825, '2017-04-06'), (347825, '2017-05-04'), (347825, '2017-06-01'), (347825, '2017-06-15'), (347825, '2017-07-06'), (347825, '2017-08-03'), (347825, '2017-11-02'), (347825, '2017-11-30'), (347825, '2017-12-09'), (347825, '2018-02-01'), (347825, '2018-03-29'), (347825, '2018-05-31'), (347825, '2018-06-07'), (347825, '2018-06-28'), (347825, '2018-08-02'), (347825, '2018-09-06'), (347825, '2018-10-04'), (347825, '2018-11-01'), (347825, '2018-12-09'), (347825, '2019-01-31'), (347825, '2019-02-28'), (347825, '2019-04-04'), (347825, '2019-05-09'), (347825, '2019-06-06'), (347825, '2019-06-13'), (347825, '2019-07-04'), (347825, '2019-08-01'), (347825, '2019-09-26'), (347825, '2019-10-31'), (347825, '2019-12-05'), (347825, '2019-12-09'), (347825, '2019-12-26'), (347825, '2020-01-23'), (347825, '2020-02-27'), (347825, '2020-04-02'), (347825, '2020-04-23'), (347825, '2020-06-18'), (478532, '1991-11-12'), (478532, '1992-11-17'), (478532, '1993-11-23'), (478532, '1994-11-29'), (478532, '1995-12-05'), (478532, '1996-12-10'), (478532, '1997-12-16'), (478532, '1998-12-22'), (478532, '1999-12-28'), (478532, '2000-06-06'), (478532, '2000-07-11'), (478532, '2000-09-05'), (478532, '2000-12-05'), (478532, '2001-01-02'), (478532, '2001-06-05'), (478532, '2001-10-09'), (478532, '2002-01-08'), (478532, '2002-04-09'), (478532, '2003-01-14'), (478532, '2003-03-04'), (478532, '2003-04-22'), (478532, '2003-05-27'), (478532, '2003-09-23'), (478532, '2004-01-20'), (478532, '2004-01-27'), (478532, '2004-06-29'), (478532, '2004-10-19'), (478532, '2005-01-25'), (478532, '2005-02-08'), (478532, '2005-03-22'), (478532, '2005-05-31'), (478532, '2005-06-28'), (478532, '2005-07-12'), (478532, '2005-08-09'), (478532, '2005-09-27'), (478532, '2005-11-01'), (478532, '2005-11-22'), (478532, '2005-12-13'), (478532, '2006-01-24'), (478532, '2006-01-31'), (478532, '2006-05-16'), (478532, '2006-07-04'), (478532, '2006-08-22'), (478532, '2006-09-26'), (478532, '2006-11-21'), (478532, '2006-12-12'), (478532, '2007-01-09'), (478532, '2007-02-06'), (478532, '2007-05-15'), (478532, '2007-07-10'), (478532, '2008-01-08'), (478532, '2008-02-05'), (478532, '2008-02-12'), (478532, '2008-02-26'), (478532, '2008-03-11'), (478532, '2008-04-01'), (478532, '2008-05-13'), (478532, '2008-06-03'), (478532, '2008-06-24'), (478532, '2008-08-12'), (478532, '2008-09-02'), (478532, '2008-09-23'), (478532, '2008-11-04'), (478532, '2008-12-02'), (478532, '2009-01-13'), (478532, '2009-01-27'), (478532, '2009-02-17'), (478532, '2009-03-03'), (478532, '2009-03-31'), (478532, '2009-07-28'), (478532, '2009-09-22'), (478532, '2009-11-03'), (478532, '2009-12-01'), (478532, '2009-12-15'), (478532, '2010-01-26'), (478532, '2010-02-23'), (478532, '2010-03-02'), (478532, '2010-03-30'), (478532, '2010-05-04'), (478532, '2010-06-22'), (478532, '2010-09-21'), (478532, '2010-10-19'), (478532, '2010-11-30'), (478532, '2010-12-21'), (478532, '2011-03-01'), (478532, '2011-03-29'), (478532, '2011-04-19'), (478532, '2011-05-24'), (478532, '2011-07-19'), (478532, '2011-09-13'), (478532, '2011-10-18'), (478532, '2011-11-15'), (478532, '2011-12-20'), (478532, '2012-02-14'), (478532, '2012-03-06'), (478532, '2012-03-27'), (478532, '2012-06-19'), (478532, '2012-08-14'), (478532, '2012-09-25'), (478532, '2012-10-16'), (478532, '2012-11-06'), (478532, '2012-12-18'), (478532, '2013-03-12'), (478532, '2013-03-19'), (478532, '2013-04-09'), (478532, '2013-05-07'), (478532, '2013-06-11'), (478532, '2013-07-09'), (478532, '2013-08-13'), (478532, '2013-10-29'), (478532, '2013-12-10'), (478532, '2014-02-11'), (478532, '2014-03-18'), (478532, '2014-04-08'), (478532, '2014-05-06'), (478532, '2014-06-03'), (478532, '2014-08-05'), (478532, '2014-08-26'), (478532, '2014-09-30'), (478532, '2014-11-04'), (478532, '2015-01-06'), (478532, '2015-02-03'), (478532, '2015-03-03'), (478532, '2015-03-24'), (478532, '2015-05-05'), (478532, '2015-05-26'), (478532, '2015-06-02'), (478532, '2015-06-30'), (478532, '2015-07-21'), (478532, '2015-09-01'), (478532, '2015-09-29'), (478532, '2015-11-03'), (478532, '2015-12-01'), (478532, '2015-12-29'), (478532, '2016-01-26'), (478532, '2016-03-22'), (478532, '2016-03-29'), (478532, '2016-04-19'), (478532, '2016-04-26'), (478532, '2016-06-07'), (478532, '2016-06-28'), (478532, '2016-08-02'), (478532, '2016-09-06'), (478532, '2016-11-01'), (478532, '2016-11-08'), (478532, '2017-02-21'), (478532, '2017-04-04'), (478532, '2017-04-25'), (478532, '2017-06-13'), (478532, '2017-10-24'), (478532, '2017-11-21'), (478532, '2017-12-19'), (478532, '2018-01-16'), (478532, '2018-02-20'), (478532, '2018-03-27'), (478532, '2018-04-10'), (478532, '2018-06-19'), (478532, '2018-07-17'), (478532, '2018-09-18'), (478532, '2018-10-16'), (478532, '2018-11-13'), (478532, '2018-12-25'), (478532, '2019-03-05'), (478532, '2019-04-16'), (478532, '2019-06-18'), (478532, '2019-07-16'), (478532, '2019-08-13'), (478532, '2019-09-17'), (478532, '2019-10-08'), (478532, '2020-02-11'), (478532, '2020-03-10'), (478532, '2020-04-21'), (487607, '2005-12-19'), (487607, '2006-12-19'), (487607, '2007-12-19'), (487607, '2008-12-18'), (487607, '2009-12-18'), (487607, '2010-12-18'), (487607, '2011-12-18'), (487607, '2012-11-10'), (487607, '2012-12-17'), (487607, '2013-12-17'), (487607, '2014-12-17'), (487607, '2015-12-17'), (487607, '2016-12-16'), (487607, '2017-12-16'), (487607, '2018-12-16'), (487607, '2019-12-16'), (537462, '2003-09-30'), (537462, '2018-12-22'), (537462, '2019-03-09'), (537462, '2020-03-14'), (537462, '2020-04-04'), (609120, '1996-05-11'), (609120, '1997-05-17'), (609120, '1998-05-23'), (609120, '1998-10-03'), (609120, '1999-05-29'), (609120, '2000-06-03'), (609120, '2001-06-09'), (609120, '2002-06-15'), (609120, '2003-06-21'), (609120, '2004-06-26'), (609120, '2005-07-02'), (609120, '2006-07-08'), (609120, '2006-09-16'), (609120, '2007-07-14'), (609120, '2008-07-19'), (609120, '2009-07-25'), (609120, '2010-07-31'), (609120, '2011-08-06'), (609120, '2012-08-11'), (609120, '2013-08-17'), (609120, '2014-08-23'), (609120, '2014-09-27'), (609120, '2015-08-29'), (609120, '2016-09-03'), (609120, '2017-09-09'), (609120, '2018-09-15'), (609120, '2019-09-14'), (609120, '2019-09-21'), (631283, '2016-12-01'), (631283, '2017-11-16'), (843873, '2019-10-06'), (892185, '2017-03-27'), (939449, '2019-02-16'), (939449, '2020-02-22'), (1116539, '1998-08-23'), (1116539, '1999-08-23'), (1116539, '2000-08-22'), (1116539, '2001-08-22'), (1116539, '2002-08-22'), (1116539, '2003-08-22'), (1116539, '2004-08-21'), (1116539, '2005-08-21'), (1116539, '2006-08-21'), (1116539, '2007-08-21'), (1116539, '2008-08-20'), (1116539, '2009-08-20'), (1116539, '2010-08-20'), (1116539, '2011-08-20'), (1116539, '2011-12-19'), (1116539, '2012-08-19'), (1116539, '2013-08-19'), (1116539, '2014-08-19'), (1116539, '2015-08-19'), (1116539, '2016-08-18'), (1116539, '2017-08-18'), (1116539, '2018-08-18'), (1116539, '2019-08-18'), (1444791, '1995-02-11'), (1444791, '1996-02-17'), (1444791, '1997-02-22'), (1444791, '1998-02-28'), (1444791, '1999-03-06'), (1444791, '2000-03-11'), (1444791, '2001-03-17'), (1444791, '2001-05-12'), (1444791, '2001-10-13'), (1444791, '2001-12-08'), (1444791, '2002-03-09'), (1444791, '2002-03-23'), (1444791, '2002-07-06'), (1444791, '2003-01-04'), (1444791, '2003-03-08'), (1444791, '2003-03-29'), (1444791, '2004-02-07'), (1444791, '2004-03-27'), (1444791, '2004-04-03'), (1444791, '2004-06-26'), (1444791, '2004-09-25'), (1444791, '2004-11-27'), (1444791, '2004-12-25'), (1444791, '2005-03-26'), (1444791, '2005-04-09'), (1444791, '2005-04-23'), (1444791, '2005-11-26'), (1444791, '2006-01-28'), (1444791, '2006-04-15'), (1444791, '2006-06-24'), (1444791, '2006-09-09'), (1444791, '2006-10-14'), (1444791, '2006-11-11'), (1444791, '2007-03-17'), (1444791, '2007-04-21'), (1444791, '2007-07-14'), (1444791, '2007-09-08'), (1444791, '2008-04-12'), (1444791, '2008-04-26'), (1444791, '2008-05-10'), (1444791, '2008-08-02'), (1444791, '2008-12-13'), (1444791, '2009-01-03'), (1444791, '2009-02-07'), (1444791, '2009-04-04'), (1444791, '2009-05-02'), (1444791, '2009-05-09'), (1444791, '2009-08-01'), (1444791, '2009-11-28'), (1444791, '2009-12-26'), (1444791, '2010-01-30'), (1444791, '2010-05-08'), (1444791, '2010-08-28'), (1444791, '2011-03-26'), (1444791, '2011-05-14'), (1444791, '2011-11-19'), (1444791, '2012-02-18'), (1444791, '2012-05-19'), (1444791, '2012-07-14'), (1444791, '2012-09-15'), (1444791, '2012-11-10'), (1444791, '2013-03-09'), (1444791, '2013-05-11'), (1444791, '2013-05-25'), (1444791, '2013-07-13'), (1444791, '2013-08-10'), (1444791, '2013-11-09'), (1444791, '2013-11-28'), (1444791, '2014-01-11'), (1444791, '2014-02-08'), (1444791, '2014-04-05'), (1444791, '2014-05-31'), (1444791, '2014-06-07'), (1444791, '2014-08-02'), (1444791, '2014-09-06'), (1444791, '2015-01-10'), (1444791, '2015-02-28'), (1444791, '2015-04-04'), (1444791, '2015-06-06'), (1444791, '2015-06-27'), (1444791, '2015-09-26'), (1444791, '2015-12-26'), (1444791, '2016-04-23'), (1444791, '2016-06-11'), (1444791, '2016-07-02'), (1444791, '2016-09-24'), (1444791, '2016-10-22'), (1444791, '2016-11-19'), (1444791, '2017-02-25'), (1444791, '2017-06-17'), (1444791, '2017-07-22'), (1444791, '2018-03-17'), (1444791, '2018-04-14'), (1444791, '2018-06-23'), (1444791, '2018-09-22'), (1444791, '2018-10-13'), (1444791, '2018-11-10'), (1444791, '2019-01-12'), (1444791, '2019-02-09'), (1444791, '2019-06-29'), (1444791, '2019-08-10'), (1444791, '2019-09-07'), (1444791, '2019-10-05'), (1444791, '2019-12-07'), (1444791, '2020-01-04'), (1444791, '2020-02-01'), (1444791, '2020-04-11'), (1496597, '2014-03-24'), (1537987, '1979-09-17'), (1737916, '2019-05-23'), (1743075, '1988-11-21'), (1891866, '1990-03-13'), (1891866, '1991-03-13'), (1891866, '1992-03-12'), (1891866, '1993-03-12'), (1891866, '1994-03-12'), (1891866, '1995-03-12'), (1891866, '1996-03-11'), (1891866, '1997-03-11'), (1891866, '1998-03-11'), (1979909, '2010-07-19'), (2074366, '1993-05-15'), (2074366, '1994-05-15'), (2074366, '1995-05-15'), (2074366, '1996-05-14'), (2074366, '1997-05-14'), (2074366, '1998-05-14'), (2074366, '1999-05-14'), (2074366, '2000-05-13'), (2074366, '2001-05-13'), (2074366, '2002-05-13'), (2074366, '2003-05-13'), (2074366, '2004-05-12'), (2074366, '2005-05-12'), (2074366, '2006-05-12'), (2074366, '2007-05-12'), (2074366, '2008-05-11'), (2074366, '2009-05-11'), (2074366, '2010-05-11'), (2074366, '2011-03-04'), (2074366, '2011-05-11'), (2074366, '2012-05-10'), (2074366, '2013-05-10'), (2074366, '2014-05-10'), (2074366, '2015-05-10'), (2074366, '2016-05-09'), (2074366, '2017-05-09'), (2074366, '2018-05-09'), (2074366, '2019-05-09'), (2074366, '2020-05-08'), (2170146, '2011-07-06'), (2170146, '2012-07-05'), (2170146, '2013-07-05'), (2170146, '2014-07-05'), (2170146, '2015-07-05'), (2170146, '2016-07-04'), (2170146, '2017-07-04'), (2170146, '2018-07-04'), (2170146, '2019-07-04'), (2369278, '1944-09-14'), (2369278, '1972-01-07'), (2369278, '1973-01-12'), (2369278, '1974-01-18'), (2369278, '1975-01-24'), (2369278, '1976-01-30'), (2369278, '1977-02-04'), (2369278, '1978-02-10'), (2369278, '1979-02-16'), (2369278, '1980-02-22'), (2369278, '1981-02-27'), (2369278, '1982-03-05'), (2369278, '1983-03-11'), (2369278, '1984-03-16'), (2369278, '1985-03-22'), (2369278, '1986-03-28'), (2369278, '1987-04-03'), (2369278, '1988-04-08'), (2369278, '1989-04-14'), (2369278, '1990-04-20'), (2369278, '1991-04-26'), (2452672, '2016-07-20'), (2452672, '2017-07-20'), (2452672, '2018-07-20'), (2452672, '2019-07-20'), (2452672, '2020-01-03'), (2537704, '2008-06-30'), (2537704, '2008-08-25'), (2537704, '2009-08-24'), (2537704, '2009-08-31'), (2537704, '2010-03-22'), (2537704, '2010-09-06'), (2537704, '2011-02-14'), (2537704, '2011-07-18'), (2537704, '2011-09-12'), (2537704, '2012-05-07'), (2537704, '2012-09-17'), (2537704, '2013-01-07'), (2537704, '2013-09-23'), (2537704, '2014-04-28'), (2537704, '2014-09-29'), (2537704, '2014-11-24'), (2537704, '2014-12-29'), (2537704, '2015-06-22'), (2537704, '2015-10-05'), (2537704, '2016-10-10'), (2537704, '2017-10-16'), (2537704, '2018-05-07'), (2537704, '2018-07-09'), (2537704, '2018-09-03'), (2537704, '2018-10-22'), (2537704, '2019-05-06'), (2537704, '2019-08-05'), (2537704, '2019-10-28'), (2577809, '1995-05-15'), (2577809, '1995-06-19'), (2577809, '1995-11-13'), (2577809, '1995-12-18'), (2577809, '1996-02-12'), (2577809, '1996-03-11'), (2577809, '1996-04-15'), (2577809, '1996-08-26'), (2577809, '1996-09-02'), (2577809, '1996-10-07'), (2577809, '1996-11-11'), (2577809, '1996-12-09'), (2577809, '1997-01-06'), (2694671, '2016-03-31'), (2694671, '2016-04-21'), (2694671, '2016-05-26'), (2694671, '2016-09-22'), (2694671, '2016-10-27'), (2694671, '2017-02-23'), (2694671, '2017-03-23'), (2694671, '2017-04-21'), (2694671, '2017-07-06'), (2694671, '2017-09-21'), (2694671, '2017-09-28'), (2694671, '2017-10-19'), (2694671, '2018-02-15'), (2694671, '2018-04-19'), (2694671, '2018-04-21'), (2694671, '2018-08-16'), (2694671, '2018-10-04'), (2694671, '2018-12-13'), (2694671, '2019-02-21'), (2694671, '2019-03-14'), (2694671, '2019-04-21'), (2694671, '2019-08-22'), (2694671, '2019-10-10'), (2694671, '2019-12-19'), (2694671, '2020-02-13'), (2833968, '1991-01-07'), (2833968, '1991-01-21'), (2833968, '1991-02-11'), (2833968, '1991-03-11'), (2833968, '1991-04-08'), (2833968, '1991-05-20'), (2833968, '1991-07-08'), (2833968, '1991-08-12'), (2833968, '1991-09-23'), (2833968, '1991-10-07'), (2833968, '1991-12-09'), (2833968, '1992-01-06'), (2833968, '1992-02-03'), (2833968, '1992-03-09'), (2833968, '1992-04-06'), (2833968, '1992-06-08'), (2833968, '1992-08-03'), (2833968, '1992-09-07'), (2833968, '1992-09-28'), (2833968, '1992-12-07'), (2833968, '1993-01-04'), (2833968, '1993-03-01'), (2833968, '1993-05-03'), (2833968, '1993-05-31'), (2833968, '1993-06-28'), (2833968, '1993-08-30'), (2833968, '1993-09-27'), (2833968, '1993-10-04'), (2833968, '1993-10-25'), (2833968, '1993-12-27'), (2833968, '1994-03-28'), (2833968, '1994-04-25'), (2833968, '1994-05-23'), (2833968, '1994-06-20'), (2833968, '1994-07-25'), (2833968, '1994-08-22'), (2833968, '1994-10-10'), (2833968, '1994-11-21'), (2833968, '1995-01-23'), (2833968, '1995-02-27'), (2833968, '1995-05-22'), (2833968, '1995-06-26'), (2833968, '1995-08-21'), (2833968, '1995-10-16'), (2833968, '1995-10-30'), (2833968, '1995-11-20'), (2833968, '1996-01-15'), (2833968, '1996-03-11'), (2833968, '1996-04-15'), (2833968, '1996-08-05'), (2833968, '1996-10-07'), (2833968, '1996-10-21'), (2833968, '1996-11-18'), (2833968, '1996-12-16'), (2833968, '1997-01-06'), (2833968, '1997-02-10'), (2833968, '1997-03-10'), (2833968, '1997-04-14'), (2833968, '1997-05-12'), (2833968, '1997-06-16'), (2833968, '1997-07-14'), (2833968, '1997-09-08'), (2833968, '1997-10-06'), (2833968, '1997-10-27'), (2833968, '1997-11-03'), (2833968, '1997-12-15'), (2833968, '1998-03-02'), (2833968, '1998-04-06'), (2833968, '1998-05-04'), (2833968, '1998-06-01'), (2833968, '1998-06-29'), (2833968, '1998-09-07'), (2833968, '1998-11-02'), (2833968, '1998-11-16'), (2833968, '1999-04-19'), (2833968, '1999-07-05'), (2833968, '1999-10-25'), (2833968, '1999-11-08'), (2833968, '1999-12-27'), (2833968, '2000-02-21'), (2833968, '2000-04-24'), (2833968, '2000-06-19'), (2833968, '2000-07-24'), (2833968, '2000-09-18'), (2833968, '2000-10-23'), (2833968, '2000-11-13'), (2833968, '2000-11-27'), (2833968, '2000-12-18'), (2833968, '2001-03-12'), (2833968, '2001-04-16'), (2833968, '2001-05-21'), (2833968, '2001-06-18'), (2833968, '2001-07-16'), (2833968, '2001-09-24'), (2833968, '2001-10-15'), (2833968, '2001-11-12'), (2833968, '2001-11-19'), (2833968, '2001-12-10'), (2833968, '2001-12-17'), (2833968, '2002-01-14'), (2833968, '2002-02-11'), (2833968, '2002-03-11'), (2833968, '2002-04-15'), (2833968, '2002-06-10'), (2833968, '2002-07-22'), (2833968, '2002-11-11'), (2833968, '2002-11-25'), (2833968, '2003-02-10'), (2833968, '2003-05-05'), (2833968, '2003-07-14'), (2833968, '2003-08-04'), (2833968, '2003-11-03'), (2833968, '2003-12-01'), (2833968, '2004-01-05'), (2833968, '2004-02-02'), (2833968, '2004-04-05'), (2833968, '2004-05-31'), (2833968, '2004-09-27'), (2833968, '2004-11-01'), (2833968, '2004-11-29'), (2833968, '2004-12-06'), (2833968, '2005-01-24'), (2833968, '2005-06-06'), (2833968, '2005-07-04'), (2833968, '2005-07-25'), (2833968, '2005-08-22'), (2833968, '2005-09-26'), (2833968, '2005-12-12'), (2833968, '2005-12-26'), (2833968, '2006-05-22'), (2833968, '2006-06-19'), (2833968, '2006-07-31'), (2833968, '2006-08-21'), (2833968, '2006-09-18'), (2833968, '2006-10-16'), (2833968, '2006-12-18'), (2833968, '2007-01-01'), (2833968, '2007-01-15'), (2833968, '2007-03-19'), (2833968, '2007-05-14'), (2833968, '2007-07-23'), (2833968, '2007-08-13'), (2833968, '2007-10-15'), (2833968, '2007-11-12'), (2833968, '2007-12-10'), (2833968, '2007-12-24'), (2833968, '2008-01-14'), (2833968, '2008-02-11'), (2833968, '2008-03-17'), (2833968, '2008-05-12'), (2833968, '2008-06-30'), (2833968, '2008-09-08'), (2833968, '2008-11-17'), (2833968, '2008-12-08'), (2833968, '2008-12-29'), (2833968, '2009-02-02'), (2833968, '2009-06-08'), (2833968, '2009-07-06'), (2833968, '2009-08-03'), (2833968, '2009-08-31'), (2833968, '2010-01-04'), (2833968, '2010-01-11'), (2833968, '2010-03-01'), (2833968, '2010-05-10'), (2833968, '2010-05-31'), (2833968, '2010-07-05'), (2833968, '2010-11-29'), (2833968, '2011-01-03'), (2833968, '2011-01-10'), (2833968, '2011-01-24'), (2833968, '2011-05-02'), (2833968, '2011-07-04'), (2833968, '2011-08-29'), (2833968, '2011-09-26'), (2833968, '2011-10-24'), (2833968, '2011-11-28'), (2833968, '2012-01-16'), (2833968, '2012-05-21'), (2833968, '2012-06-25'), (2833968, '2012-08-20'), (2833968, '2012-09-17'), (2833968, '2012-11-19'), (2833968, '2012-12-17'), (2833968, '2013-01-14'), (2833968, '2013-01-21'), (2833968, '2013-02-11'), (2833968, '2013-05-13'), (2833968, '2013-07-08'), (2833968, '2013-08-12'), (2833968, '2013-09-09'), (2833968, '2013

In [186]:
# 환자별, 날짜마다 처방약을 찾는다. 처방약이 1개면 그대로 반환하면 된지만, 2개 이상인 경우, 중복제거하고 모아두어야한다.
one_drug_person = grouped[(31196, '1997-05-14')]
one_drug_person

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,condition_status_concept_id,stop_reason_x,...,route_concept_id,lot_number,provider_id_y,visit_occurrence_id_y,visit_detail_id_y,drug_source_value,drug_source_concept_id,route_source_value,dose_unit_source_value,drug_exposure_total_days
114,391684,31196,201826,1983-02-03,1983-02-03,None,NaT,32020,0,None,...,0,0,0,25713079,0,314231,1539463,None,None,8031 days

In [187]:
# QQQ
one_drug_person = grouped[(31196, '1997-05-14')][['drug_concept_id', 'drug_exposure_start_date', 'drug_exposure_end_date']]
one_drug_person

    drug_concept_id drug_exposure_start_date drug_exposure_end_date
114               b               1997-05-14             2019-05-09

In [188]:
# 처방약이 2개 이상이면, 중복검사 + ( , ) 튜플형태로 만들어야한다.
two_more_drug_person = grouped[(2833968, '2019-09-09')]
two_more_drug_person

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,condition_status_concept_id,stop_reason_x,...,route_concept_id,lot_number,provider_id_y,visit_occurrence_id_y,visit_detail_id_y,drug_source_value,drug_source_concept_id,route_source_value,dose_unit_source_value,drug_exposure_total_days
9390,35704969,2833968,201826,1947-01-06,1947-01-06,None,NaT,32020,0,None,...,0,0,0,48525400,0,309362,19075601,None,None,36 days
9393,35704969,2833968,201826,1947-01-06,1947-01-06,None,NaT,32020,0,None,...,0,0,0,48525400,0,197604,19018935,None,None,36 days
10147,35704969,2833968,201826,1947-01-06,1947-01-06,None,NaT,32020,0,None,...,0,0,0,48525400,0,312961,1539411,None,None,36 days

In [189]:
# QQQ
# 처방약이 2개 이상이면, 중복검사 + ( , ) 튜플형태로 만들어야한다.
two_more_drug_person = grouped[(2833968, '2019-09-09')][['drug_concept_id', 'drug_exposure_start_date', 'drug_exposure_end_date']]
two_more_drug_person

      drug_concept_id drug_exposure_start_date drug_exposure_end_date
9390                c               2019-09-09             2019-10-14
9393                a               2019-09-09             2019-10-14
10147               b               2019-09-09             2019-10-14

In [190]:
# QQQ 참고 사이트 : https://m31phy.tistory.com/130
# 환자별, 복용시작일별로 정리된 상태에서 약의 종류가 2가지 이상인 경우, 
# 약물들을 뽑아서 중복을 제거하고 모아두어야한다.
set(two_more_drug_person['drug_concept_id'].values)

{'a', 'b', 'c'}

In [191]:
# 환자별-복용시작일별 같은날에 복용한 의약품은 순서대로 모아두고, 콤마(,)로 묶어서 string으로 반환되도록 한다.
def set_drugs_today(agg_df):
    return ', '.join(sorted(list(set(agg_df['drug_concept_id'].values))))

In [196]:
patterns =diabetes_with_four_drugs.groupby(['person_id', 'drug_exposure_start_date']).apply( set_drugs_today )
patterns

person_id  drug_exposure_start_date
31196      1997-05-14                        b
           1998-05-14                        b
           1999-05-14                        b
           2000-05-13                        b
           2001-05-13                        b
                                        ...
2833968    2019-09-09                  a, b, c
           2019-10-14                  a, b, c
           2019-11-18                  a, b, c
           2019-12-09                  a, b, c
           2020-01-06                  a, b, c
Length: 869, dtype: object

In [197]:
# index를 제거하면서 당일 처방받은 의약품들을 시간순으로 연결할 준비를 한다.
patterns = patterns.reset_index().rename(columns={0:'pattern'})
patterns

     person_id drug_exposure_start_date  pattern
0        31196               1997-05-14        b
1        31196               1998-05-14        b
2        31196               1999-05-14        b
3        31196               2000-05-13        b
4        31196               2001-05-13        b
..         ...                      ...      ...
864    2833968               2019-09-09  a, b, c
865    2833968               2019-10-14  a, b, c
866    2833968               2019-11-18  a, b, c
867    2833968               2019-12-09  a, b, c
868    2833968               2020-01-06  a, b, c

[869 rows x 3 columns]

In [440]:
# 패턴에 null이 없는지 검사한다.
patterns[0].fillna('None').value_counts()

b, c       346
b          200
a, b, c    168
a          129
d           20
c            5
a, b         1
Name: 0, dtype: int64

In [198]:
# 환자별로 묶은 다음, pattern예시를 확인한다.
grouped = dict(list(patterns.groupby(['person_id'])))
grouped.keys()

dict_keys([31196, 50663, 67212, 170280, 347825, 478532, 487607, 537462, 609120, 631283, 843873, 892185, 939449, 1116539, 1444791, 1496597, 1537987, 1737916, 1743075, 1891866, 1979909, 2074366, 2170146, 2369278, 2452672, 2537704, 2577809, 2694671, 2833968])

In [199]:
grouped[347825]

     person_id drug_exposure_start_date pattern
28      347825               1999-11-15       d
29      347825               2008-10-16    b, c
30      347825               2008-11-20    b, c
31      347825               2008-12-11       b
32      347825               2009-01-29    b, c
..         ...                      ...     ...
118     347825               2020-01-23    b, c
119     347825               2020-02-27    b, c
120     347825               2020-04-02    b, c
121     347825               2020-04-23    b, c
122     347825               2020-06-18    b, c

[95 rows x 3 columns]

In [200]:
grouped[347825]['pattern'].values

array(['d', 'b, c', 'b, c', 'b', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c',
       'b', 'b, c', 'b, c', 'b, c', 'b', 'b, c', 'b, c', 'b, c', 'b, c',
       'b, c', 'b', 'b, c', 'b, c', 'b, c', 'b, c', 'b', 'b, c', 'b, c',
       'b, c', 'b, c', 'b, c', 'b', 'b, c', 'b, c', 'b, c', 'b', 'b, c',
       'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c',
       'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c',
       'b, c', 'b, c', 'b, c', 'b', 'b, c', 'b, c', 'b, c', 'b, c',
       'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b', 'b, c',
       'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c',
       'b', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c',
       'b, c', 'b, c', 'b, c', 'b, c', 'b', 'b, c', 'b, c', 'b, c',
       'b, c', 'b, c', 'b, c'], dtype=object)

In [467]:
# np.array(list('bbcabbaa'))

array(['b', 'b', 'c', 'a', 'b', 'b', 'a', 'a'], dtype='<U1')

In [494]:
# # 직전과 중복을 허용하지 않도록 데이터를 모은다.
# test_list = np.array(['d', 'b, c', 'b, c', 'b', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c',
#        'b', 'b, c', 'b, c', 'b, c', 'b', 'b, c', 'b, c', 'b, c', 'b, c',
#        'b, c', 'b', 'b, c', 'b, c', 'b, c', 'b, c', 'b', 'b, c', 'b, c',
#        'b, c', 'b, c', 'b, c', 'b', 'b, c', 'b, c', 'b, c', 'b', 'b, c',
#        'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c',
#        'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c',
#        'b, c', 'b, c', 'b, c', 'b', 'b, c', 'b, c', 'b, c', 'b, c',
#        'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b', 'b, c',
#        'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c',
#        'b', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c', 'b, c',
#        'b, c', 'b, c', 'b, c', 'b, c', 'b', 'b, c', 'b, c', 'b, c',
#        'b, c', 'b, c', 'b, c'])

# list_ = []
# for i in range(len(test_list)):
#     if i == 0 or (i>1 and test_list[i] != test_list[i-1]):
#         if len(test_list[i]) > 1:
#             list_.append( '(' + test_list[i] + ')' )
#         else:
#             list_.append(test_list[i])
        
# list_

['d',
 'b',
 '(b, c)',
 'b',
 '(b, c)',
 'b',
 '(b, c)',
 'b',
 '(b, c)',
 'b',
 '(b, c)',
 'b',
 '(b, c)',
 'b',
 '(b, c)',
 'b',
 '(b, c)',
 'b',
 '(b, c)',
 'b',
 '(b, c)',
 'b',
 '(b, c)']

In [201]:
# 순서대로 의약품들을 모을 때, 아래와 같은 함수를 작성한다.
# 1) 앞에 것과 동일한 의약품은 건너띔
# 2) 2개이상의 의약품일 경우 괄호로 묶음
# 3) 1),2)를 만족하면서 화살표(->)로 묶는다.
def sum_no_duplicated(s):
    list_ = s.values
    new_list_ = []
    for i in range(len(list_)):
        if i == 0 or (i>1 and list_[i] != list_[i-1]):
            if len(list_[i]) > 1:
                new_list_.append( '(' + list_[i] + ')' )
            else:
                new_list_.append(list_[i])
    return '->'.join(new_list_)

In [202]:
# 환자_id(index)별로 pattern들이 나타나도록 DataFrame을 만든다.
patterns = patterns.groupby(['person_id'])['pattern'].apply(sum_no_duplicated).to_frame('pattern')
patterns

                                                     pattern
person_id
31196                                                b->d->b
50663                                                      d
67212                                                      d
170280                                                     d
347825     d->b->(b, c)->b->(b, c)->b->(b, c)->b->(b, c)-...
478532                                             b->(b, c)
487607                                               b->d->b
537462                                                  d->b
609120                                                     b
631283                                                     b
843873                                                     d
892185                                                     d
939449                                                (b, c)
1116539                                              b->d->b
1444791                                              a->d->a
1496597                                                    d
1537987                                                    d
1737916                                                    d
1743075                                                    d
1891866                                                    b
1979909                                                    d
2074366                                              b->d->b
2170146                                                    b
2369278                                            d->(a, b)
2452672                                                 b->d
2537704                                               (b, c)
2577809                                                 b->c
2694671      (b, c)->(b, c)->b->(b, c)->b->(b, c)->b->(b, c)
2833968    b->c->(b, c)->a->(a, b, c)->c->(a, b, c)->c->(...

In [204]:
# 패턴별로 환자수를 value_count()를 활용해서 센다.
pattern_count = patterns['pattern'].value_counts().sort_values(ascending=False).to_frame('person_count')
pattern_count.index.name='pattern'
show(pattern_count)

### note에서 데이터 추출
 - 제공되는 clinical note 테이블은 한 환자의 의료 기록 샘플입니다. 
 - note로부터 정보를 추출하여 아래의 4개의 테이블에 입력합니다. 추출/입력에 사용한 코드와 결과테이블을 제출해야 합니다.
     - 제공된 note에서 "CONTINUING" 부분 제외
     ![image-20210801003033395](https://raw.githubusercontent.com/is3js/screenshots/main/image-20210801003033395.png)
 
 - 아래 제공되는 스키마에 테이블 생성
     - 테이블 생성 위치는 지원자의 스키마 아래
 - note 에서 추출한 정보를 테이블에 입력
     - sql, python 등 지원자가 익숙한 언어 사용하여 추출
     - 테이블에 입력 시 아래 규칙 적용
        - 규칙1: 내원일자, 처방일자 >= 환자의 생년월일
        - 규칙2: 환자 id는 랜덤하게 중복없이 부여
        - 규칙3: 각 테이블의 id는 랜덤하게 중복없이 부여
 - note에서 정보가 정확히 추출되었는지 검토
     - 예: note에서 발견된 질병 키워드의 개수와 condition_occurrence 에 저장된 행 수의 비교

In [324]:
clinical_note.head()

                                                note
0  Andrea7 Wolf938\n===============\nRace:       ...
1  Andrea7 Wolf938\n===============\nRace:       ...
2  Andrea7 Wolf938\n===============\nRace:       ...
3  Andrea7 Wolf938\n===============\nRace:       ...
4  Andrea7 Wolf938\n===============\nRace:       ...

In [234]:
# 노트 중 1개의 예시를 가져온다.
sample_note = clinical_note['note'][0]

In [323]:
import pprint

# pprint.pprint(sample_note)

In [236]:
# 문제에서 제외할 부분을 split을 이용해 버리는 전략을 구성했다.
sample_note_splits = \
sample_note.split('--------------------------------------------------------------------------------\n')

len(sample_note_splits)

5

In [237]:
# 뒤에서 2번째 것 + 가장 뒤에 인덱스의 데이터를 제외하면 된다.
sample_note_splits[-2]

'CONTINUING\n   \n   CONDITIONS:\n  1977-04-10 : Chronic sinusitis (disorder)\n  1984-06-07 : Major depression disorder\n  1996-07-04 : Body mass index 30+ - obesity (finding)\n   \n   MEDICATIONS:\n  1984-06-07 + FLUoxetine 20 MG Oral Capsule for Major depression, single episode\n   \n   CAREPLANS:\n  1984-06-07 : Mental health care plan\n                         Reason: Major depression, single episode\n                         Activity: Initial psychiatric interview with mental status and evaluation\n  1984-06-07 : Psychiatry care plan\n                         Reason: Major depression disorder\n                         Activity: Psychiatric Follow-up\n                         Activity: Coping Support Management\n                         Activity: Suicide Risk Assessment\n                         Activity: Cognitive behavioral therapy by multidisciplinary team\n                         Activity: Psychodynamic Interpersonal Therapy\n   \n'

In [238]:
# 칼럼str.split()을 활용하여, 노트중 필요한 part만 칼럼으로 expand되도록 구성한다.
split_str = '--------------------------------------------------------------------------------\n'

note_df = clinical_note['note'].str.split(split_str, expand=True)
note_df.head()

,0,1,2,3,4
0,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2011-06-20 : Encounter at Cape Cod ...,CONTINUING\n \n CONDITIONS:\n 1977-04-10 ...,
1,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2015-04-23 : Encounter at Cape Cod ...,CONTINUING\n \n CONDITIONS:\n 1977-04-10 ...,
2,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2015-04-23 : Encounter at Cape Cod ...,CONTINUING\n \n CONDITIONS:\n 1977-04-10 ...,
3,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2013-05-16 : Encounter at Cape Cod ...,CONTINUING\n \n CONDITIONS:\n 1977-04-10 ...,
4,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2011-05-12 : Encounter at Cape Cod ...,CONTINUING\n \n CONDITIONS:\n 1977-04-10 ...,

In [239]:
# 제외시킬 노트의 일부를 칼럼에서 삭제한다.
note_df = note_df.drop([3,4],axis=1)
note_df.head()

,0,1,2
0,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2011-06-20 : Encounter at Cape Cod ...
1,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2015-04-23 : Encounter at Cape Cod ...
2,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2015-04-23 : Encounter at Cape Cod ...
3,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2013-05-16 : Encounter at Cape Cod ...
4,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2011-05-12 : Encounter at Cape Cod ...

In [240]:
# 노트의 각 부분마다 정보이름을 칼럼명으로 배정한다.
note_df.columns=['person_info', 'allergies_info', 'encounter_info']
note_df.head()

,person_info,allergies_info,encounter_info
0,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2011-06-20 : Encounter at Cape Cod ...
1,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2015-04-23 : Encounter at Cape Cod ...
2,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2015-04-23 : Encounter at Cape Cod ...
3,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2013-05-16 : Encounter at Cape Cod ...
4,Andrea7 Wolf938\n===============\nRace: ...,ALLERGIES:\nNo Known Allergies\n,ENCOUNTER\n2011-05-12 : Encounter at Cape Cod ...

In [310]:
# 첫번째 노트를 예시로 가져와 정보를 추출해본다.
sample_person_info = note_df.iloc[0].values[0]
sample_person_info

'Andrea7 Wolf938\n===============\nRace:                White\nEthnicity:           Non-Hispanic\nGender:              M\nAge:                 55\nBirth Date:          1965-04-22\nMarital Status:      M\n'

In [242]:
# 1) personality 정보는 정규표현식을 활용하여, 보고서 형식의 각 부분에서 데이터를 추출한다.
sample_person_str = [ x for x in sample_person_info.split('\n') if len(x) > 1]
import re
for line in sample_person_str:
    match = re.match( "([A-Z]{1}.*):\s*(\S*)", line )
    if match != None:
        print(match.group(1),' - ', match.group(2))

Race  -  White
Ethnicity  -  Non-Hispanic
Gender  -  M
Age  -  55
Birth Date  -  1965-04-22
Marital Status  -  M

In [246]:
# 2) allergy 정보는 는 정규표현식 없이 쉽게 추출가능하다.
sample_allergies_info = note_df.iloc[0].values[1]
sample_allergies_str= [ x for x in sample_allergies_info.split('\n') if len(x) > 1]

[ x.replace(':','') for x in sample_allergies_str ]

['ALLERGIES', 'No Known Allergies']

In [325]:
# sample_encounter_info = note_df.iloc[1].values[2]
# pprint.pprint(sample_encounter_info)

In [322]:
# 3) encounter에 대한 자세한 정보는 복잡하게 구성되어있다.
#    전체 문자열을 줄바꿈단위(\n)의 line으로 추출한 뒤, 각 주제마다 index를 기억하고, 그 사이에 데이터가 있으면 해당 데이터를 추출하면 될 것 같다.
#    데이터를 추출후 class나 dictionary속 dictionary를 활용해서 데이터를 모으고
#    DataFrame을 생성후 table로 convert하려는 전략을 세웠다.
sample_encounter_info = note_df.iloc[2].values[2]
# pprint.pprint(sample_encounter_info)
# 정규표현식 버전
sample_encounter_str = [ x.strip() for x in sample_encounter_info.split('\n')  if len(x.strip()) > 1]
sample_encounter_str

first_encounter_index = sample_encounter_str.index('ENCOUNTER')
second_medications_index = sample_encounter_str.index('MEDICATIONS:')
third_conditions_index = sample_encounter_str.index('CONDITIONS:')
fourth_careplans_index = sample_encounter_str.index('CARE PLANS:')
fifth_reports_index = sample_encounter_str.index('REPORTS:')
sixth_observations_index = sample_encounter_str.index('OBSERVATIONS:')
seventh_procedures_index = sample_encounter_str.index('PROCEDURES:')
eighth_immunizations_index = sample_encounter_str.index('IMMUNIZATIONS:')
nineth_imagingstudies_index = sample_encounter_str.index('IMAGING STUDIES:')



sample_encounter_str[first_encounter_index+1:second_medications_index]
# ['2011-06-20 : Encounter at Cape Cod Vet Center : Encounter for Acute bronchitis (disorder)',
#  'Type: ambulatory']
# ['2015-04-23 : Encounter at Cape Cod Vet Center', 'Type: ambulatory']
# ['2015-04-23 : Encounter at Cape Cod Vet Center : Encounter for Anemia (disorder)',
#  'Type: ambulatory']

# sample_encounter_str[second_medications_index+1:third_conditions_index]
# ['2011-06-20 : Acetaminophen 325 MG Oral Tablet for Acute bronchitis (disorder)'] -> for 뒤로는 condition에서 나오므로. 앞에 것만
# []
# []

# sample_encounter_str[third_conditions_index+1:fourth_careplans_index]
# ['2011-06-20 : Acute bronchitis (disorder)']
# ['2015-04-23 : Anemia (disorder)']
# []


# sample_encounter_str[fourth_careplans_index+1:fifth_reports_index]
# ['2011-06-20 : Respiratory therapy',
#  'Reason: Acute bronchitis (disorder)', -> 3-condition에 나온 정보와 동일하므로 생략
#  'Activity: Recommendation to avoid exercise', 
#  'Activity: Deep breathing and coughing exercises']

# []
# []

# sample_encounter_str[fifth_reports_index+1:sixth_observations_index]
# []
# []
# ['2015-04-23 : Complete blood count (hemogram) panel - Blood by Automated count',
#  '- Hemoglobin [Mass/volume] in Blood        10.1 g/dL',
#  '- Hematocrit [Volume Fraction] of Blood    33.2 %',
#  '- WBC Auto (Bld) [#/Vol]                   8.3 10*3/uL',
#  '- RBC Auto (Bld) [#/Vol]                   4.5 10*6/uL',
#  '- MCV [Entitic volume] by Automated count  80.1 fL',
#  '- MCH [Entitic mass] by Automated count    28.0 pg',
#  '- MCHC [Mass/volume] by Automated count    33.3 g/dL',
#  '- RDW - Erythrocyte distribution width Auto (RBC) [Entitic vol] 40.1 fL',
#  '- Platelets [#/volume] in Blood by Automated count 216.9 10*3/uL',
#  '- Platelet distribution width [Entitic volume] in Blood by Automated count 458.8 fL',
#  '- Platelet mean volume [Entitic volume] in Blood by Automated count 10.6 fL']

# sample_encounter_str[sixth_observations_index+1:seventh_procedures_index]
# []
# ['2015-04-23 : Hemoglobin A1c/Hemoglobin.total in Blood 6.3 %']
# ['2015-04-23 : Platelet mean volume [Entitic volume] in Blood by Automated count 10.6 fL',
#  '2015-04-23 : Platelet distribution width [Entitic volume] in Blood by Automated count 458.8 fL',
#  '2015-04-23 : Platelets [#/volume] in Blood by Automated count 216.9 10*3/uL',
#  '2015-04-23 : RDW - Erythrocyte distribution width Auto (RBC) [Entitic vol] 40.1 fL',
#  '2015-04-23 : MCHC [Mass/volume] by Automated count    33.3 g/dL',
#  '2015-04-23 : MCH [Entitic mass] by Automated count    28.0 pg',
#  '2015-04-23 : MCV [Entitic volume] by Automated count  80.1 fL',
#  '2015-04-23 : RBC Auto (Bld) [#/Vol]                   4.5 10*6/uL',
#  '2015-04-23 : WBC Auto (Bld) [#/Vol]                   8.3 10*3/uL',
#  '2015-04-23 : Hematocrit [Volume Fraction] of Blood    33.2 %',
#  '2015-04-23 : Hemoglobin [Mass/volume] in Blood        10.1 g/dL']

# sample_encounter_str[seventh_procedures_index+1:eighth_immunizations_index]
# ['2011-06-20 : Sputum examination (procedure) for Acute bronchitis (disorder)']

# ['2015-04-23 : Medication Reconciliation (procedure)',
#  '2015-04-23 : Colonoscopy']

# ['2015-04-23 : Brief general examination (procedure)',
#  '2015-04-23 : Medication Reconciliation (procedure)',
#  '2015-04-23 : Review of systems (procedure)',
#  '2015-04-23 : Peripheral blood smear interpretation']


# sample_encounter_str[eighth_immunizations_index+1:nineth_imagingstudies_index]
# []

# sample_encounter_str[nineth_imagingstudies_index+1:]
# []

[]